<div class="delivery mobile" style="margin: 25px 0 25px 0;">
    <div class="page-row row-delivery">
    <div class="col-1"> </div>
    <div class="col-3" style="margin: auto;"><img id="delivery-icon-mobile" src="/style/mobile/delivery.svg" alt="" /></div>
    <div class="col-7" style="margin: auto; padding: 0;">
    <p><strong>Opcja darmowej dostawy</strong> naszych kaw jest już dostępna!</p>
    </div>
    <div class="col-1"> </div>
    </div>
    </div>
    <div class="delivery-tablet">
    <div class="page-row row-delivery" style="margin: 100px 0 40px 0;">
    <div class="col-3"> </div>
    <div class="col-2" style="margin: auto;"><img id="delivery-icon" src="/style-tablet/icons/delivery.svg" alt="" /></div>
    <div class="col">
    <p id="delivery-tablet-p1"><strong>Opcja darmowej dostawy</strong></p>
    <p id="delivery-tablet-p2">naszych kaw jest już dostępna!</p>
    </div>
    <div class="col-2"> </div>
    </div>
    </div>