<div class="footer mobile">
    <div class="page-row" style="padding-top: 25px;">
    <div class="col-1"> </div>
    <div class="col-10">
    <p class="footer-p1">Gdzie jesteśmy?</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
    <div class="col-1" style="margin-right: 0;"> </div>
    <div class="col-1" style="margin-left: 0;"><img id="icon-cup" alt="" /></div>
    <div class="col-8" style="margin: auto;">
    <p class="footer-p2">Kawiarnie</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 5px;">
    <div class="col-1" style="margin-right: 0;"> </div>
    <div class="col-1" style="margin-left: 0;"> </div>
    <div class="col-8" style="margin: auto;">
    <p class="footer-p3">ul. Racławicka 14, 33-100 Tarnów <br /> ul. Bitwy o wał Pomorski 10, 33-100 Tarnów <br /> PN. - PT. 9:00 - 17:00</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
    <div class="col-1" style="margin-right: 0;"> </div>
    <div class="col-1" style="margin-left: 0;"><img id="icon-store" alt="" /></div>
    <div class="col-8" style="margin: auto;">
    <p class="footer-p2">MAGAZYN GŁÓWNY</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 5px;">
    <div class="col-1"> </div>
    <div class="col-1"> </div>
    <div class="col-8" style="margin: auto;">
    <p class="footer-p3">Mott Coffee Company SP. z o.o. Gorzyce 218, 33-250 Gorzyce</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
    <div class="col-1"> </div>
    <div class="col-10">
    <p class="footer-p1">Zadzwoń do nas</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
    <div class="col-1" style="margin-right: 0;"> </div>
    <div class="col-1" style="margin-top: 0; margin-left: 0;"><img id="icon-phone" alt="" /></div>
    <div class="col-8" style="margin: auto;">
    <p class="footer-p3-phone">Biuro <br /> +48 600 033 058</p>
    <p class="footer-p3-phone">SKLEP <br /> +48 602 520 385</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
    <div class="col-1"> </div>
    <div class="col-10">
    <p class="footer-p1">Napisz do nas</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
    <div class="col-1" style="margin-right: 0;"> </div>
    <div class="col-1" style="margin-left: 0;"><img id="icon-mail" alt="" /></div>
    <div class="col-8" style="margin: auto;">
    <p class="footer-p3" style="margin-bottom: 0;">INFO@MOTTCOFFEE.EU <br /> SKLEP@MOTTCOFFEE.EU</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
    <div class="col-1"> </div>
    <div class="col-10">
    <p class="footer-p1">Znajdź nas</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px; padding-bottom: 25px;">
    <div class="col-1"> </div>
    <div class="col-1" style="margin-right: 25px;"><img id="icon-fb" alt="" /></div>
    <div class="col-1"><img id="icon-insta" alt="" /></div>
    <div class="col-8"> </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row row-border" style="padding-top: 25px;">
    <div class="col">
    <p class="footer-p4">© 2021 Palarnia kawy Mottcoffee.eu - Tarnów.</p>
    </div>
    </div>
    </div>
    <!-- FOOTER -->
    <div id="footer" class="footer-tablet">
    <div class="page-row">
    <div class="col-1"> </div>
    <div class="col-4">
    <p class="p-footer1">Gdzie jesteśmy?</p>
    </div>
    <div class="col-1"> </div>
    <div class="col-5">
    <p class="p-footer1">Zadzwoń do nas</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="margin-top: 20px;">
    <div class="col-1"> </div>
    <div class="col-4">
    <div class="page-row">
    <div class="col-1"><img id="icon-cup" src="/skins/user/rwd_shoper_4/images/user/cup.svg" alt="" /></div>
    <div class="col" style="margin: auto; margin-left: 2%;">
    <p class="p-footer2">KAWIARNIE</p>
    </div>
    </div>
    <div class="page-row">
    <div class="col-1"> </div>
    <div class="col" style="margin-left: 2%;">
    <p class="p-footer3">ul. Racławicka 14, 33-100 Tarnów <br /> ul. Bitwy o Wał Pomorski 10, 33-100 Tarnów <br /> <br /> pn. - pt. 9:00 - 17:00</p>
    </div>
    </div>
    </div>
    <div class="col-1"> </div>
    <div class="col-5">
    <div class="page-row">
    <div class="col-1"><img id="icon-phone" src="/skins/user/rwd_shoper_4/images/user/phone.svg" alt="" /></div>
    <div class="col" style="margin: auto;">
    <p class="p-footer2">BIURO</p>
    </div>
    <div class="col" style="margin: auto;">
    <p class="p-footer2">SKLEP</p>
    </div>
    </div>
    <div class="page-row">
    <div class="col-1"> </div>
    <div class="col">
    <p class="p-footer2">+48 600 033 058</p>
    </div>
    <div class="col">
    <p class="p-footer2">+48 600 033 058</p>
    </div>
    </div>
    </div>
    </div>
    <div class="page-row" style="margin-top: 30px; margin-bottom: 70px;">
    <div class="col-1"> </div>
    <div class="col-4">
    <div class="page-row">
    <div class="col-1"><img id="icon-store" src="/skins/user/rwd_shoper_4/images/user/store.svg" alt="" /></div>
    <div class="col" style="margin: auto; margin-left: 2%;">
    <p class="p-footer2">MAGAZYN GŁÓWNY</p>
    </div>
    </div>
    <div class="page-row">
    <div class="col-1"> </div>
    <div class="col" style="margin-left: 2%;">
    <p class="p-footer3">Mott Coffee Company SP. z o.o. <br /> Gorzyce 218, 33-250 Gorzyce</p>
    </div>
    </div>
    </div>
    <div class="col-1"> </div>
    <div class="col-3">
    <p class="p-footer1">Napisz do nas</p>
    <div class="page-row">
    <div class="col-1"><img id="icon-mail" src="/skins/user/rwd_shoper_4/images/user/mail.svg" alt="" /></div>
    <div class="col" style="margin: auto; margin-left: 5%;">
    <p class="p-footer3">
        <a href="mailto:info@mottcoffee.eu" style="color: #ffffff">
            info@mottcoffee.eu 
        </a>
        <br /> 
        <a href="mailto:sklep@mottcoffee.eu" style="color: #ffffff">
            sklep@mottcoffee.eu
        </a>
        
    </p>
    </div>
    </div>
    </div>
    <div class="col-3">
    <div class="col">
    <p class="p-footer1">Znajdź nas</p>
    </div>
    <div class="page-row">
    <div class="col-1"> </div>
    <div class="col">
    <div class="page-row">
    <div class="col" style="padding-left: 0;">
        <a href="https://www.facebook.com/pages/category/Restaurant/Mott-Coffee-1250055198515858/" target="_blank">
            <img id="icon-fb" style="margin-right: 10px;" src="/skins/user/rwd_shoper_4/images/user/fb.svg" alt="" /> 
        </a>

        
        <a href="https://www.instagram.com/mott_coffee/?hl=pl"  target="_blank">
            <img id="icon-insta" src="/skins/user/rwd_shoper_4/images/user/insta.svg" alt="" />
        </a>
        
    </div>
    </div>
    </div>
    <div class="col"> </div>
    </div>
    </div>
    </div>
    <div class="page-row"> </div>
    <div class="page-row row-border" style="padding-top: 25px;">
    <div class="col">
    <p class="footer-p4">© 2021 Palarnia kawy Mottcoffee.eu - Tarnów.</p>
    </div>
    </div>
    </div>