<div id="mobile-menu-display" class="mobile-menu-main" style="display: none;">
    <div class="page-row row-mobile-menu-1">
    <div class="col icon-logo"><img id="icon-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" /></div>
    <div class="col icon-close-div"><img id="icon-close-image" alt="" /></div>
    </div>
    <div class="mobile-menu">
    <div id="mobile-menu-1">
        <a class="active" href="#home">HOME</a> 
        <a class="active" href="#news-mobile">AKTUALNOŚCI</a> 
        <a class="active" href="#section1-mobile">O NASZEJ KAWIE</a> 
        <a class="active" href="#home">MENU</a> 
        <a class="active" href="/pl/n/list">BLOG</a> 
        <a href="#about">KONTAKT</a></div>
    <div id="mobile-menu-2">
        <a class="active" href="/pl/c/Kawa-ziarnista/160"><button id="button1-mobile">SKLEP ONLINE</button> </a> 
        <a class="active" href="/pl/login"><span style="margin-left: 5px;">ZALOGUJ SIĘ</span></a> 
        <a class="active" href="/pl/basket"><span style="margin-left: 5px;">KOSZYK</span></a></div>
    <!-- <div id="mobile-menu-3"><a class="active" href="#home"><em><img src="/skins/user/rwd_shoper_4/images/user/search.svg" alt="" /></em><span style="margin-left: 5px;">SZUKAJ</span></a></div> --></div>
    </div>
    <div id="home" class="header mobile"><!-- MOBILE NAVBAR -->
    <div class="page-row row-mobile">
    <div class="col-3"><img id="img-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" /></div>
    <div id="mobile-icons" class="col-8" style="margin: auto; text-align: right;"><a id="menu-icon" class="icon"></a> <img src="/skins/user/rwd_shoper_4/images/user/search.svg" alt="" /> <a id="menu-icon" class="icon"></a> <img src="/skins/user/rwd_shoper_4/images/user/basket.svg" alt="" /> <a id="menu-icon" class="icon"></a> <img src="/skins/user/rwd_shoper_4/images/user/person.svg" alt="" /> <a id="menu-icon" class="icon"></a> <img id="menu-icon-image" src="/skins/user/rwd_shoper_4/images/user/menu.svg" alt="" /></div>
    <div class="col-1"> </div>
    </div>
    <!-- NAVBAR 1 -->
    <div class="page-row row-1"><!-- <div class="col-3"></div> -->
    <div class="col nav-1"><!-- <a class="active"><em><img id="icon-search" src="/skins/user/rwd_shoper_4/images/user/search.svg" alt="" /></em><span style="margin-left: 5px;">SZUKAJ</span></a>  --> <a class="active" href="/pl/login"><em><img id="icon-person" src="/skins/user/rwd_shoper_4/images/user/person.svg" alt="" /></em><span style="margin-left: 5px;">ZALOGUJ SIĘ</span></a> <a class="active" href="/pl/basket"><em><img id="icon-basket" src="/style-tablet/icons/basket.svg" alt="" /></em><span style="margin-left: 5px;">KOSZYK</span></a></div>
    </div>
    <!-- NAVBAR 2 -->
    <div class="page-row row-2">
    <div class="col-1"> </div>
    <div class="col-2"><img id="mott-logo" class="mott-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="mott-logo" /></div>
    <div class="col-9 nav-2">
        <a class="active" href="#home">HOME</a> 
        <a class="active" href="#news-tablet">AKTUALNOŚCI</a> 
        <a class="active" href="#section1-tablet">O NASZEJ KAWIE</a> 
        <a class="active" href="#home">MENU</a> 
        <a class="active" href="/pl/n/list">BLOG</a> 
        <a href="#about">KONTAKT</a> 
        <a class="active" href="/pl/c/Kawa-ziarnista/160"> <button id="button1">SKLEP ONLINE</button> </a></div>
    </div>
    <!-- TXT -->
    <div class="page-row row-3">
    <div id="header-div-txt-1" class="col-1"> </div>
    <div id="header-div-txt-2" class="col-7">
    <p id="p-header-1">Poznaj <br /> smak kawy</p>
    <p id="p-header-2">z Kostaryki</p>
    <p id="p-header-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in tellus eu dolor efficitur ultricies. Sed egestas leo vel massa dapibus, in luctus est iaculis. Pellentesque sed volutpat purus.</p>
    <a href="/pl/n/list"> <button id="button1">SPRAWDŹ</button> </a></div>
    <div id="header-div-txt-3" class="col-6"> </div>
    </div>
    </div>