<div id="news-tablet" class="news-tablet">
    <div class="page-row news-1">
    <div class="col">
    <p id="products-p-1">mott coffee news</p>
    <p id="products-p-2">Aktualności</p>
    </div>
    </div>
    <div class="page-row" style="margin: 15px 40px;">

        <div class="col">
        <div class="card mb-3 shadow-sm"><img class="bd-placeholder-img card-img-top" src="/skins/user/rwd_shoper_1/images/user/news1.png" alt="" />
        <div class="card-body">
        <p id="news-p1"><em style="padding-right: 3%;"><img id="icon-clock" src="/skins/user/rwd_shoper_1/images/user/clock_tablet.svg" alt="" /></em>7 LUTEGO 2021</p>
        <p id="news-p2" class="card-text">Zbiory kawy z Kostaryki</p>
        <p id="news-p3" class="card-text">Czy wiesz, że kawa, którą będziecie mogli spróbować...</p>
        <p id="news-p4" class="card-text"><a href="/pl/n/2" target="_blank">CZYTAJ DALEJ</a> <em style="padding-right: 3%;"><img id="icon-arrow" src="/skins/user/rwd_shoper_1/images/user/arrow.svg" alt="" /></em></p>
        </div>
        </div>
        </div>

        <div class="col">
        <div class="card mb-3 shadow-sm"><img class="bd-placeholder-img card-img-top" src="/skins/user/rwd_shoper_1/images/user/news2.png" alt="" />
        <div class="card-body">
        <p id="news-p1"><em style="padding-right: 3%;"><img id="icon-clock" src="/skins/user/rwd_shoper_1/images/user/clock_tablet.svg" alt="" /></em>7 LUTEGO 2021</p>
        <p id="news-p2" class="card-text">WORLD OF COFFEE 2019 BERLIN</p>
        <p id="news-p3" class="card-text">W dniach 6-8 czerwca byliśmy na wspaniałym wydarzeniu World of Coffee 2019...</p>
        <p id="news-p4" class="card-text"><a href="/pl/n/3" target="_blank">CZYTAJ DALEJ</a> <em style="padding-right: 3%;"><img id="icon-arrow" src="/skins/user/rwd_shoper_1/images/user/arrow.svg" alt="" /></em></p>
        </div>
        </div>
        </div>

        <div class="col">
        <div class="card mb-3 shadow-sm">
        <img class="bd-placeholder-img card-img-top" src="/skins/user/rwd_shoper_1/images/user/news3.png" alt="" />
        <div class="card-body">
        <p id="news-p1"><em style="padding-right: 3%;"><img id="icon-clock" src="/skins/user/rwd_shoper_1/images/user/clock_tablet.svg" alt="" /></em>7 LUTEGO 2021</p>
        <p id="news-p2" class="card-text">Warsztaty edukacyjne dla przedszkolaków!</p>
        <p id="news-p3" class="card-text">W miniony poniedziałek mieliśmy przyjemność gościć...</p>
        
        <p id="news-p4" class="card-text"><a href="/pl/n/1" target="_blank">CZYTAJ DALEJ</a> <em style="padding-right: 3%;"><img id="icon-arrow" src="/skins/user/rwd_shoper_1/images/user/arrow.svg" alt="" /></em></p>
        </div>    
        </div>
        </div>


    </div>
    </div>
    <div id="news-mobile" class="news mobile">
    <div class="row-news-1">
    <div class="col">
    <p id="products-p-1">mott coffee news</p>
    <p id="products-p-4">Aktualności</p>
    <div class="card mb-3 shadow-lg"><img id="news-mobile-1" class="bd-placeholder-img card-img-top" alt="" />
    <div class="card-body">
    <p id="news-p1"><em style="padding-right: 3%;"><img id="icon-clock" alt="" /></em>7 LUTEGO 2021</p>
    <p id="news-p2" class="card-text">Warsztaty edukacyjne dla przedszkolaków!</p>
    <p id="news-p4" class="card-text"><a href="/pl/n/1">CZYTAJ DALEJ</a><em style="padding-right: 3%;"><img id="icon-arrow" alt="" /></em></p>
    </div>
    </div>
    </div>
    </div>
    </div>