<div class="products-mobile mobile">
    <div class="page-row row-products-1">
    <div class="col-1" style="padding: 0;"> </div>
    <div class="col-10" style="padding: 0;">
    <p id="products-p-1">mott coffee company</p>
    <p id="products-p-4">Wypróbuj nasze <br /> produkty</p>
    <img class="products-image" style="display: table;" src="/skins/user/rwd_shoper_4/images/user/coffee4.png" alt="" />
    <p id="products-p-2" style="padding-bottom: 10px;">Tarrazu Red Honey</p>
    <p id="products-p-3">Wysoko rozmieszczone uprawy nadają tej kawie niepowtarzalny charakter pełnego i szlachetnego smaku z nutką cytrusa.</p>
    <p id="products-p-price">26,00 zł</p>
    </div>
    <div class="col-1" style="padding: 0;"> </div>
    </div>
    <div class="page-row" style="padding-bottom: 15px;">
    <div class="col" style="text-align: center;"><a href="/pl/p/TARRAZU-YELLOW-HONEY-ST-III-250g/301"><button id="button1" style="margin-top: -10px;">DODAJ DO KOSZYKA</button></a></div>
    </div>
    </div>
    <!-- PRODUCTS  -->
    <div class="products-tablet" style="margin-top: -100px;">
    <div class="page-row row-products-1">
    <div class="col-12">
    <p id="products-p-1">mott coffee company</p>
    <p id="products-p-2">Wypróbuj nasze produkty</p>
    </div>
    </div>
    <div class="page-row row-products-2">
    <div class="col-1"> </div>

    <div class="col"><img class="products-image" style="width: 70%;" src="/skins/user/rwd_shoper_4/images/user/coffee11.png" alt="" />
    <p id="products-p-2-title" style="padding-bottom: 10px;">Tarrazu Yellow Honey</p>
    <p id="products-p-3">Wysoko rozmieszczone uprawy nadają tej kawie niepowtarzalny charakter pełnego i szlachetnego smaku z nutką cytrusa.</p>
    <p id="products-p-price">26,00 zł</p>
    <a href="/pl/p/TARRAZU-YELLOW-HONEY-ST-III-250g/301" target="_blank"><button id="button1" style="margin-top: -10px;">ZOBACZ</button></a>
    </div>

    <div class="col"><img class="products-image" style="width: 70%;" src="/skins/user/rwd_shoper_4/images/user/coffee2.png" alt="" />
    <p id="products-p-2-title" style="padding-bottom: 10px;">Coto Brus Natural</p>
    <p id="products-p-3">Wysoko rozmieszczone uprawy nadają tej kawie niepowtarzalny charakter pełnego i szlachetnego smaku z nutką cytrusa.</p>
    <p id="products-p-price">29,00 zł</p>
    <a href="/pl/p/COTO-BRUS-NATURAL-ST-III-250g/295" target="_blank"><button id="button1" style="margin-top: -10px;">ZOBACZ</button></a>
</div>

    <div class="col"><img class="products-image" style="width: 70%;" src="/skins/user/rwd_shoper_4/images/user/coffee3.png" alt="" />
    <p id="products-p-2-title" style="padding-bottom: 10px;">Tarrazu Red Honey</p>
    <p id="products-p-3">Wysoko rozmieszczone uprawy nadają tej kawie niepowtarzalny charakter pełnego i szlachetnego smaku z nutką cytrusa.</p>
    <p id="products-p-price">27,00 zł</p>
    <a href="/pl/p/TARRAZU-RED-HONEY-ST-III-250g/299" target="_blank"><button id="button1" style="margin-top: -10px;">ZOBACZ</button></a>
    
</div>
    <div class="col"><img class="products-image" style="width: 70%;" src="/skins/user/rwd_shoper_4/images/user/coffee4.png" alt="" />
    <p id="products-p-2-title" style="padding-bottom: 10px;">Coto Brus Red Honey</p>
    <p id="products-p-3">Wysoko rozmieszczone uprawy nadają tej kawie niepowtarzalny charakter pełnego i szlachetnego smaku z nutką cytrusa.</p>
    <p id="products-p-price">27,00 zł</p>
    <a href="/pl/p/COTO-BRUS-RED-HONEY-ST-III-250g/292" target="_blank"><button id="button1" style="margin-top: -10px;">ZOBACZ</button></a></div>
    <div class="col-1"> </div>
    </div>
    </div>