<div id="section1-mobile" class="section1-mobile mobile">
    <div class="page-row row-section1-1"> </div>
    <div id="section1-row-12" class="page-row">
    <div class="col-1"> </div>
    <div class="col-10"><img id="elipse1" alt="" />
    <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Jakość, która <br /> ma smak</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row row-section1-2">
    <div class="col-1"> </div>
    <div class="col-10">
    <p id="p-section1-2">Tutaj zapoznacie się z kawą o najwyższej jakości, jaką jest Specialty Coffee. <br /> <br /> W naszej wypalarni stawiamy na jakość i smak, a nie na komercję. Nasza wyjątkowa kawa sprowadzana jest prosto z <strong>Gwatemali i Kostaryki </strong>. Co ważne, jest ona kupowana bezpośrednio od farmera. Ta stosunkowo nowa koncepcja w przemyśle kawowym zakłada osobistą relację między palaczem lub nabywcą kawy, a rolnikiem. Oznacza to, że palacze kawy stosujący ten sposób kupowania kawy, muszą mieć wystarczające zasoby, aby regularnie odwiedzać farmy. <br /> <br /> Pomimo ograniczeń, handel bezpośredni jest obiecującą etykietą, zwiększającą prawdopodobieństwo dobrej jakości kawy.</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row" style="margin-top: -30px;">
    <div class="col-2"> </div>
    <div id="div-coffeehouse" class="col-10"><img id="coffeehouse-mobile" src="/skins/user/rwd_shoper_4/images/user/coffeehouse.png" alt="" /></div>
    </div>
    <div style="background-color: #ffc400;">
    <div id="section1-row-12" class="page-row" style="padding-top: 130px;">
    <div class="col-1"> </div>
    <div class="col-10"><img id="elipse2" alt="" />
    <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Nasze <br />kawiarnie</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row row-section1-2">
    <div class="col-1"> </div>
    <div class="col-10">
    <p id="p-section1-2">Zapraszamy do kawiarni na ulicy <strong>Racławickiej 14 w Tarnowie </strong> na pyszną kawę zdala od zgiełku i ruchliwych ulic. <br /> <br /> 20-go czerwca 2020 otworzyliśmy kolejną kawiarnię w Tarnowie. Zapraszamy wszystkich smakoszy dobrej kawy pod adres <strong>ul. Bitwy o Wał Pomorski 10, os. Słoneczne. </strong> <br /> <br /> A już wkrótce otwarcie baru kawowego Mott Coffee w Warszawie!</p>
    <button id="button1">ZOBACZ</button></div>
    <div class="col-1"> </div>
    </div>
    </div>
    <script>// <![CDATA[
    
    // ]]></script>
    </div>
    <!-- SECTION I  -->
    <div id="section1-tablet" class="section1-tablet">
    <div class="page-row row-section1-1">
    <div class="col-1"> </div>
    <div id="section1-text1-tablet" class="col-6">
    <div class="page-row" style="margin-bottom: 15px; padding-top: 110px;">
    <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
    <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Jakość, która <br />ma smak</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <p id="p-section1-2">Tutaj zapoznacie się z kawą o najwyższej jakości, jaką jest Specialty Coffee. <br /> <br /> W naszej wypalarni stawiamy na jakość i smak, a nie na komercję. Nasza wyjątkowa kawa sprowadzana jest prosto z <strong>Gwatemali i Kostaryki </strong>. Co ważne, jest ona kupowana bezpośrednio od farmera. Ta stosunkowo nowa koncepcja w przemyśle kawowym zakłada osobistą relację między palaczem lub nabywcą kawy, a rolnikiem. Oznacza to, że palacze kawy stosujący ten sposób kupowania kawy, muszą mieć wystarczające zasoby, aby regularnie odwiedzać farmy. <br /> <br /> Pomimo ograniczeń, handel bezpośredni jest obiecującą etykietą, zwiększającą prawdopodobieństwo dobrej jakości kawy.</p>
    </div>
    <div id="section1-image1" class="col-5"><img id="section1-coffee1" src="/skins/user/rwd_shoper_4/images/user/coffee1.png" alt="" /></div>
    </div>
    <div id="section1-row2" class="page-row">
    <div class="col-1"> </div>
    <div class="col-3" style="text-align: right; margin-top: 35px;"><img id="section1-coffeehouse" src="/skins/user/rwd_shoper_4/images/user/both.png" alt="" /></div>
    <div id="section1-trapeze" class="col-8">
    <div id="text2-div" style="margin-top: 75px;">
    <div class="page-row" style="margin-bottom: 20px;">
    <div class="col"><img id="elipse2" src="/skins/user/rwd_shoper_4/images/user/elipse2.svg" alt="" />
    <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Nasze <br /> kawiarnie</p>
    </div>
    </div>
    <p id="p-section1-2">Zapraszamy do kawiarni na ulicy <strong>Racławickiej 14 w Tarnowie </strong> na pyszną kawę zdala od zgiełku i ruchliwych ulic. <br /> <br /> 20-go czerwca 2020 otworzyliśmy kolejną kawiarnię w Tarnowie. Zapraszamy wszystkich smakoszy dobrej kawy pod adres <strong>ul. Bitwy o Wał Pomorski 10, os. Słoneczne. </strong> <br /> <br /> A już wkrótce otwarcie baru kawowego Mott Coffee w <strong>Warszawie!</strong></p>
    <a href="/pl/n/list">
        <button id="button1">ZOBACZ</button>
    </a>
    </div>
    </div>
    </div>
    </div>