<div class="section-2 mobile">
    <div class="page-row section-2-1">
    <div class="col-1"> </div>
    <div class="col-10"><img id="elipse3" alt="" />
    <p id="p-section1-1" style="margin-top: 0;">Rozsmakuj się<br /> w Kostaryce</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row section-2" style="margin-bottom: 20px;">
    <div class="col-1"> </div>
    <div class="col-10">
    <p id="p-section1-2">Górskie ukształtowanie terenu oraz bogactwo wulkanicznych gleb determinuje profil sensoryczny kawy kostarykanskiej, która charakteryzuje się kwaskowatością, nutami owocowymi, w tym wiśniowymi, jeżynowymi czy porzeczkowymi oraz aromatem pochodzącym z kwiatowego bukietu. Ponadto profil smakowy tych kaw urozmaicony jest również smakiem czekolady, karmelu czy cynamonu.</p>
    <button id="button1">DOWIEDZ SIĘ WIĘCEJ</button></div>
    <div class="col-1"> </div>
    </div>
    <div id="costarica2" class="page-row"> </div>
    </div>
    <!-- SECTION 2  -->
    <div class="section-2-tablet">
    <div class="page-row">
    <div id="section-2-image-tablet" class="col"><img id="image-section2" src="/style-tablet/images/section2.png" alt="" /></div>
    <div id="section2-text" class="col">
    <p id="p-section1-1"><img id="elipse3" src="/style-tablet/icons/elipse3.svg" alt="" />Rozsmakuj się<br /> w Kostaryce</p>
    <p id="p-section2-2">Górskie ukształtowanie terenu oraz bogactwo wulkanicznych gleb determinuje profil sensoryczny kawy kostarykanskiej, która charakteryzuje się kwaskowatością, nutami owocowymi, w tym wiśniowymi, jeżynowymi czy porzeczkowymi oraz aromatem pochodzącym z kwiatowego bukietu. Ponadto profil smakowy tych kaw urozmaicony jest również smakiem czekolady, karmelu czy cynamonu.</p>
    <a href="/pl/n/list">
        <button id="button1">DOWIEDZ SIĘ WIĘCEJ</button>
    </a>
    </div>
    </div>
    </div>