<div style="display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
margin-right: -15px;">
    <div style="-webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;">
    </div>
</div>