<div id="mobile-menu-display" class="mobile-menu-main" style="min-height: 100vh;">
    <div class="page-row row-mobile-menu-1" style="height: 130px;">
    <div class="col-1"></div>
    
    <div class="col-8 icon-logo"><img id="icon-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" style="float: left; margin: auto;"/></div>
    <div class="col-2 icon-close-div"><img id="icon-close-image" src="/skins/user/rwd_shoper_4/images/user/menubar-white.svg" style="float: right; margin: auto;"/></div>
    <div class="col-1"></div>
</div>
    <div class="mobile-menu">
    <div id="mobile-menu-1">
        <a class="active" href="#home">START</a> 
        <a class="active threeSections" href="#section1-mobile">O NASZEJ KAWIE</a> 
        <a class="active threeSections" href="#our-coffeehouses">KAWIARNIE</a>
        
        <!-- <a class="active" href="#home">MENU</a>  -->
        
        <a class="active threeSections" href="#section2-mobile">WSPIERAMY</a>
        <a href="#contact">KONTAKT</a>
        <a class="active" href="/pl/blog">BLOG</a> 
    </div>
    <div id="mobile-menu-2">
        <a class="active" href="/pl/c/Kawa-ziarnista/160"><button id="button1-mobile">SKLEP ONLINE</button> </a> 
        <!-- <a class="active" href="/pl/login"><span style="margin-left: 5px;">ZALOGUJ SIĘ</span></a> 
        <a class="active" href="/pl/basket"><span style="margin-left: 5px;">KOSZYK</span></a> -->
    </div>
    <!-- <div id="mobile-menu-3"><a class="active" href="#home"><em><img src="/skins/user/rwd_shoper_4/images/user/search.svg" alt="" /></em><span style="margin-left: 5px;">SZUKAJ</span></a></div> --></div>
</div>
    <!-- MOBILE NAVBAR -->
    <div id="home" class="header mobile" style="margin-top: -20px;">    
    <div class  ="page-row row-mobile" id="home-page-menu-container" style="height: 130px;">
        <div class="col-1"></div>
        
        <div id="mobile-icons" class="col-8" style="text-align: right; margin: auto;">
            <img id="icon-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" style="float: left; width: 25%; margin: auto;"/>   
            
        </div>
        <div class="col-2" style="margin: auto">
            <a id="menu-icon" class="icon"></a> <img id="menu-icon-image" src="/skins/user/rwd_shoper_4/images/user/menubar-white.svg" alt="" style="float: right; width: 65%"/>
        </div>
        <div class="col-1"> </div>
    </div>
    <!-- NAVBAR 1 -->
    <!-- NAVBAR 2 -->
    <div class="page-row row-2" style="padding-top: 20px; padding-bottom: 20px; background: rgba(0, 0, 0, 0.3); place-content: center;">
    <div class="col nav-2">
        <a class="active" href="#home">START</a> 
        <a class="active threeSections" href="#section1-tablet">O NASZEJ KAWIE</a> 
        <a class="active threeSections" href="#our-coffeehouses-desktop">KAWIARNIE</a>
        
        <!-- <a class="active" href="#home">MENU</a>  -->
        
        <a class="active threeSections" href="#section2-tablet">WSPIERAMY</a>
        <a href="#contact">KONTAKT</a> 
        <a class="active" href="/pl/blog">BLOG</a> 
        <!-- <a class="active" href="/pl/login"><em><img id="icon-person" src="/skins/user/rwd_shoper_4/images/user/person.svg" alt="" /></em><span style="margin-left: 5px;">ZALOGUJ SIĘ</span></a> 
        <a class="active" href="/pl/basket"><em><img id="icon-basket" src="/skins/user/rwd_shoper_4/images/user/basket.svg" alt="" /></em><span style="margin-left: 5px;">KOSZYK</span></a> -->
        <a class="active" href="/pl/c/Kawa-ziarnista/160"> <button style="margin-left: 0 !important; margin-top: 0 !important;" id="button1">SKLEP ONLINE</button> </a></div>
        
    </div>
    <!-- TXT -->
    <div class="page-row row-3">
        <div id="header-div-txt-1" class="col-1"> </div>
        <div id="header-div-txt-2" class="col-8">
    
        <p id="p-small-header">Prosto z Kostaryki</p>
        <p id="p-header-1">Poznaj smak <br/> Speciality  Coffee</p>
        <a href="/pl/blog"> <button style="margin-top: 30px" id="button1">SPRAWDŹ</button> </a></div>
        <div id="header-div-txt-3" class="col-3"> </div>
    </div>
    </div>
