@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=zvy6gck&pl=tk&f=139.140.175.176.143.144.147.148.156.157.161.162&a=72889571&app=typekit&e=css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media screen and (min-width: 768px) and (max-width: 979px){
    .container {
      width: auto !important;
    }
  }
.js__search-mobile-btn {
  display: none;
}
/* #mobile-menu-display {
  background-image: url("/skins/user/rwd_shoper_4/images/user/menu_bg.png");
  background-size:  cover;   
  background-repeat:  no-repeat;
  width: 100%;
  background-position: center center;
} 

*/
.slider-wrap {
    text-align: center !important;
    width: auto !important;
    height: auto !important;
  }
#custom-menu-2 {
  margin: 5px;
  text-align: center;
  font: normal normal 500 18px/50px montserrat;
  letter-spacing: 1.8px;
  color: #FFFFFF !important;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
}
#custom-mobile-menu1 {
  background-image: url("/skins/user/rwd_shoper_4/images/user/menu_bg.png");
  background-size:  cover;   
  background-repeat:  no-repeat;
  width: 100%;
  background-position: top;
}

.swiper-button-next {
  right: 5% !important;
}
.swiper-button-prev {
  left: 5% !important;
}

.swiper-pagination-bullet-active {
  background: #ff913b !important;
}
#section1-mobile:before, #section1-tablet:before, #news-tablet:before, #news-mobile:before {
  height: 150px;
  display: block;
  content: '';
}
#our-coffeehouses:before {
  height: 50px;
  display: block;
  content: ''
}
.row-section1-1:after {
  height: 100px;
  display: block;
  content: '',
}
.basket {
	float: none !important;
  position: static !important;
}
.placeholderIcon:hover {
  cursor: pointer;
}
footer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  color: white !important;
  background-color: #42281d;
}
footer  a {
  color: white !important;
}
footer p {
  margin-bottom: 15px !important;
}
footer .innerfooter ul.overall>li  {
  border-top: none !important;
}
.nav-2 {

}
.row-2 {
  position: fixed;
  z-index: 10 !important;
  width: 100% !important;
}
#box_custom35 {
  margin-top: -100px !important;
}
.login-bar {
  margin-top: 10px !important;
}
.links li {
  padding-right: 20px !important;
}
.links span  {
  font: normal normal 600 15px/23px montserrat !important;
  color: #2f120e;
  text-transform: uppercase !important;
}
.count {
  color: #2f120e !important;
}

.empty-basket {
  background: transparent !important;
  border: none !important;
}
header {
  display: none !important;
}

.search__input-area, .search__input {
  background-color: transparent !important;
}
.search__input {
  color: #2f120e !important;
}
.search__input-area {
  border-top: none !important;
  border-right: none !important;
  border-bottom: 2px solid #2f120e !important;
  border-left: none !important;
}
.js__search-submit-btn {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.search__input-area-item  {
  color: #2f120e !important;
}
.search__input-area-item ::placeholder {
  color: #2f120e !important;
}
.search-focused, .search__input-area {
  box-shadow: none !important;
}
@media screen and (max-width: 768px) {
  	html {
    scroll-behavior: smooth;
	}
    .row-1, .row-2, .section1-tablet, .products-tablet, .delivery-tablet, .news-tablet, .section-2-tablet, .footer-tablet {
        display: none !important;
    }
	.search__container {
      clear: both;
      min-width: none !important;
      margin-top: 15px;
      position: relative !important;
      top: -140px !important;
      left: -35% !important;
      width: 33% !important;
    }
    .top {
      margin: 0;
    }
    .rwd header {
      padding: 0;
    }
    .row-1 {
      display:none;
    }
    html
    {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      
    }
    .header {
      background-image: url("/skins/user/rwd_shoper_4/images/user/header.png");
      background-size:  cover;   
      background-repeat:  no-repeat;
      width: 100%;
      background-position: center center;
      height: 100vh;
    }

  	#box_custom35 {
      margin: 0 !important;
    }
    .row-mobile {
        margin-left: 0;
      	margin-right: 0 !important;
      	position: fixed;
        width: 100%;
        z-index: 10;
    }
  	#mott-logo {
      margin-bottom: 50px;
    }
    #icon-close-image {
	  width: 40px;
    }
    #img-logo {
        width: 125%;
        margin-top: 25px;
        margin-left: 10px;
    }
    .row-mobile a {
        margin: 5px;
        margin: 0 3% 0 3%;
    }
    .nav-mobile {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-mobile a {
        float: none; 
        display: block; 
        text-align: left;
    }
    .row-3 {
        margin-left: auto;
    }
    #text-1 {
        padding-top: 50px; 
    }
    #text-1 p {
        padding: 0;
        margin: 0;
    }
    #header-div-txt-2 {
        padding-left: 0;
        margin-top: 270px;
    }
  	#p-small-header {
      color: #ffffff;
      text-align: left;
      font: normal normal 600 16px/31px Poppins;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
      opacity: 1;
      margin: 0;
    }
    #p-header-1 {
        font-family: Poppins;
        text-align: left;
        font-size: 29px;
        line-height: 32px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #ffffff;
        margin: 0;
      	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    }
    #p-header-2 {
        font-family: Poppins;
        text-align: left;
        letter-spacing: 0px;
        color: #ffffff;
        font-size: 30px;
        line-height: 32px;
        font-weight: 500;
        margin-bottom: 10px !important;
    }   
    #p-header-3 {
        font: normal normal normal 14px/17px montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      
    }
    /* SECTION1 */
    .section1-tablet {
        display: none;
      
    }
    #background1 {
        padding-top: 30px;
        background-image: url("/skins/user/rwd_shoper_4/images/user/background.svg");
        background-size:  cover;   
        background-repeat:  no-repeat;
    }
    #elipse1 {
        position:absolute;
        z-index: 0;
      	content:  url("/skins/user/rwd_shoper_4/images/user/elipse1.svg");
    }
    #elipse2 {
      position: absolute;
      z-index: 0;
      content:  url("/skins/user/rwd_shoper_4/images/user/elipse1.svg");
    }
    .row-section1-1 {
        margin-bottom: -30px;
        width: 100%;
        margin: 0
    }
	.swiper-slide {
      width: 100% !important;
    }
  	.p-slide-title {
      font-family: "Poppins";
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      font-size: 30px;
      font-weight: 700;
      line-height: 32px;
    }
  	.p-slide-address {
      margin-top: 30px !important;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      color: #070707;
      opacity: 1;
      font-family: 'Poppins';
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }
  	.p-slide-description {
      letter-spacing: 1.1px;
      color: #070707;
      text-transform: uppercase;
      opacity: 1;
      text-align: center;
      font-size: 11px;
      line-height: 14px;
      font-weight: 600;
    }
  	.swiper-pagination {
      bottom: 55px !important;
      padding-bottom: 20px;
    }
  	.swiper-pagination-bullet {
      --swiper-theme-color: #FFC400 !important;
    }
  	
    .swiper-slide {
      background-color: #ffa231;
    }
  	
    #section1-row-12 {
        margin-bottom: 20px;
    }
    .row-section1-2{
        width: 100%;
        margin-right: 0;
    }

    #div-coffeehouse {
        text-align: right;
        padding-right: 0;
        height: 50px;
    }
    #coffeehouse-mobile {
        position: relative;
        z-index: 2;
        width: 100%;
        top: -50px;
      	left: -5%;
        height: 250px;
      	content:  url("/skins/user/rwd_shoper_4/images/user/coffeehouse.png");
    }

    .row-section1-3 {
        padding-bottom: 30px;
    }
    #p-section1-1 {
        position: relative;
        margin-top: 22px;
        margin-left: 5% !important;
        font: normal normal 700 30px/32px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    #p-section1-2 {
        font: normal normal normal 14px/17px  montserrat;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      	margin: 20px 0 20px 0;
    }
    #background2 {
        padding-top: 140px;
    }
    .row-section1-3 {
        margin: auto;
        width: 100%;
    }
    #img-1 {
        width: 79%;
        position: absolute;
        top: 1600px;
        right: 0%;
    }
    /* PRODUCTS */
    .row-products-1 {
        margin-top: 50px;
    }
    .products-p-1 {
        font: normal normal 500 14px/17px montserrat;
        letter-spacing: 1.4px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
    }
    .products-p-2 {
      	margin-top: 0 !important;
      	margin-bottom: 45px !important;
        text-align: center;
        font: normal normal bold 32px/36px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    .productname {
      	text-align: center;
        font: normal normal bold 32px/36px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    .productnamewrap {
      height: auto !important;
    } 
    .price em{
      text-align: center;
      font: normal normal bold 20px/30px Poppins;
      font-size: 20px !important;
      letter-spacing: 0px;
      color: #FF9900 !important;
      opacity: 1;
    }
    .addtobasket {
      	border: none !important;
        border-width: 0px;
        border-radius: 37px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #FFA231 !important;
        width: auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 15px;
        font-weight: 400;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        color: #ffffff;
        text-transform: uppercase;
      	padding: 0.1em .85em;
    } 
    #products-p-1 {
        font: normal normal 600 14px/17px montserrat;
        letter-spacing: 1.4px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
    }
    #products-p-2 {
        text-align: center;
        font: normal normal bold 20px/30px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    #products-p-3 {
        text-align: center;
        font: normal normal normal 14px/17px  montserrat;
        letter-spacing: 0px;
        color: #848484;
        opacity: 1;
        margin: 0 5% 15px 5%;
    }
    #products-p-4 {
        text-align: center;
        font: normal normal bold 30px/32px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    .products-image {
        margin: auto
    }
    #products-p-price {
        text-align: center;
        font: normal normal bold 20px/30px Poppins;
        letter-spacing: 0px;
        color: #E01643;
        opacity: 1;
    }
    /* DELIVERY ROW */
    .row-delivery {
        padding: 25px 0 25px 0;
        background-color: #FFA231 !important;
    }
  	#delivery-icon-mobile {
      	content: url("/skins/user/rwd_shoper_4/images/user/delivery-mobile.svg");
    }
    .row-delivery p {
        font: normal normal 700 18px/24px Poppins;
        margin: auto;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .row-delivery img {
        width: 110%;
    }
    /* NEWS */
    .row-news-1 {
    }
    .mb-3 {
        margin: 25px;
        box-shadow: 0px 3px 30px #00000029;
    }
    #news-mobile-1 {
		content: url("/skins/user/rwd_shoper_4/images/user/news1.png");
    }
    #news-p1 {
        text-align: left;
        font: normal normal 600 12px/15px montserrat;
        letter-spacing: 1.2px;
        color: #848484;
        opacity: 1;
    }
    #news-p2 {
        margin-top: 20px !important;
        text-align: left;
        font: normal normal bold 20px/24px montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    #news-p4 {
        font: normal normal 600 12px/17px montserrat;
        letter-spacing: 1.4px;
        color: #FFC400;
        text-transform: uppercase;
        opacity: 1;
        text-align: right;
    }
    /* SECTION-2 */
    #background3 {
        margin: auto;
        background-image: url("../style/mobile/background3.svg");
        background-size:  cover;   
        background-repeat:  no-repeat;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }
    #costarica2 {
        margin: auto;
        background-image: url("../images/user/costarica2.png");
        background-size:  cover;   
        background-repeat:  no-repeat;
        padding-top: 60%; 
    }
    /* FOOTER */
    .footer {
        background-color: #3D241A;
      	margin: 0 !important;
    }
  	.footer div {
      margin: auto;
    }
    .footer-p1 {
        text-align: left;
        font: normal normal bold 24px/27px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin: 0 !important;
    }
    .footer-p2 {
        text-align: left;
        font: normal normal 600 15px/18px montserrat;
        letter-spacing: 1.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        line-height: 25px;
        margin: 0 !important;
    }
    .footer-p3 {
        font: normal normal normal 12px/15px montserrat;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
    }
    .footer-p3-phone {
        font: normal normal bold 18px/25px montserrat;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        margin: 0 !important;
    }
    .footer-p4 {
        text-align: center;
        font: normal normal normal 12px/25px Poppins;
        letter-spacing: 0px;
        color: #B07985;
        opacity: 1;
        margin: 0 !important;
    }
  	#icon-cup {
      content:  url("/skins/user/rwd_shoper_4/images/user/cup.svg");
      max-width: 100% !important;
    }
    #icon-store {
      content:  url("/skins/user/rwd_shoper_4/images/user/store.svg");
      max-width: 100% !important;
    }  	
  	#icon-phone {
      content:  url("/skins/user/rwd_shoper_4/images/user/phone.svg");
      max-width: 100% !important;
    }  	
  	#icon-mail {
      content:  url("/skins/user/rwd_shoper_4/images/user/mail.svg");
      max-width: 100% !important;
    }
    .row-border {
        border-top: 1px solid #B07985;
        padding-bottom: 25px;
    }
    /* BUTTONS */
    #button1 {
        margin-top: 20px;
        border-width: 0px;
        border-radius: 37px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #FFA231;
        width: auto;
        height: 50px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 11px;
        font-weight: 700;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        color: #ffffff;
        padding: 0 30px 0 30px;
    }
    
    #button2 {
        border-width: 0px;
        border-radius: 37px;
        border: solid 2px #e01643;
        width: 200px;
        height: 65px;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        color: #e01643;
    }
     #box_custom34 {
       margin-bottom: 0 !important;
     }
}
@media only screen and (max-width: 1439px) and (min-width: 769px)  {


  	html {
    scroll-behavior: smooth;
	}
 	#footer-mobile {
      display: none;
    }
  	.search__container {
      clear: both;
      min-width: 0 !important;
      margin-top: 15px;
      position: relative !important;
      top: -140px !important;
      left: -35% !important;
      width: 33% !important;
    }
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
  	.innerbox img {
      max-width: 100%;
    }
  	.rwd .container {
      max-width: none;
      width: 100% !important;
    }
  	.container {
      max-width: none;
      width: 100%;
    }
  	#image-costarica {
    }
  	.card-img-top {
      max-width: 100% !important;
    }
    .header {
        background-image: url("../images/user/header_v22.jpg");
        background-size:  contain;   
        background-repeat:  no-repeat;
        width: 100%;
        height: 775px;
    }
  	#p-small-header {
      color: #ffffff;
      text-align: left;
      font: normal normal 400 20px/31px Poppins;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
      opacity: 1;
      margin: 0 0 0 15% !important;
    }
    .p-tablet-slide-title {
      margin-left: 10%;
      text-align: left;
      font: normal normal bold 35px/34px Poppins;
      letter-spacing: 0px;
      color: #070707;
      opacity: 1;
      margin-top: 20px;
      margin-bottom: 0 !important;
    }
    .p-tablet-slide-description1 {
        margin-left: 10%;
        text-align: left;
        font: normal normal bold 16px/26px Poppins;
        letter-spacing: 2px;
        color: #070707;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 5px;
    }
    .p-tablet-slide-description2 {
      text-align: left;
      font: normal normal medium 20px/25px Poppins;
      letter-spacing: 2px;
      color: #070707;
      text-transform: uppercase;
      opacity: 1;
      font-weight: 600;
      }
    .swiper-button-prev {
    color: #DBDBDB !important;
  }
  .swiper-button-next {
    color: #DBDBDB !important;
  }
    .row-mobile {
        display: none !important;
    }
    .row-1 {
        padding: 20px 15px 0 0;
    }
    .row-1 a {
        font: normal normal 600 10px/12px montserrat;
        letter-spacing: 0.5px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        margin-left: 2%;
    }
    .nav-1 {
        margin-right: 20px;
    }
    .nav-1, .nav-2 {
        text-align: right;
    }
    .row-2 a {
        font: normal normal 600 10px/12px montserrat;
        letter-spacing: 0.5px;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
        margin-right: 3%;
    }
   	.row-2 button {
      margin-top: 0;
    }
    .row-3 {
        margin-top: 100px;
    }
    #header-div-txt-2 {
        margin-top: 100px;
    }
    #p-header-1 {
        font-family: Poppins;
        text-align: left;
        font-size: 42px;
        line-height: 52px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #ffffff;
        margin: 0 0 0 15%;
        text-shadow: 0px 4px 6px rgb(0, 0, 0, 0.6);
    }
    #p-header-2 {
      	margin: 0;
        text-align: left;
        font: normal normal 500 36px/37px Poppins;
        letter-spacing: 0px;
        color: #000000;
    }
    #p-header-3 {
        font: normal normal normal 14px/17px montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }

    #button1 {
        margin-top: 20px;
        margin-left: 15%;
        border-width: 0px;
        border-radius: 37px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        width: auto;
        height: 40px;
        text-align: center;
        font-family: 'montserrat', sans-serif;
        font-style: normal;
        font-size: 12px;
        font-weight: 800;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        color: #FFA231;
        padding: 0 20px 0 20px;
    }

    /* SECTION I */

    .section1-mobile {
        display: none;
    }
    .row-section1-1 {
      margin-top: 0;
      	margin-bottom: -50px;
      z-index: 9;
      position: relative;
    }
    #section1-row2 {
        height: 493px;
        max-height: 493px;
    }
    #section1-text1-tablet {
        /* background-image: url("../style-tablet/icons/section2.svg");
        background-size:  cover;   
        background-repeat:  no-repeat; */
        width: 100%;
        z-index: -1;
    }
  #section1-text1-tablet p {
    margin-right: 5%;
  }
    #p-section1-1 {
        margin-top: 120px;
        font: normal normal 700 30px/32px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    #elipse1 {
        position:absolute;
        z-index: -1;
        content:  url("/skins/user/rwd_shoper_4/images/user/elipse1.svg");
    }
  	#elipse2 {
        position:absolute;
        z-index: -1;
        content:  url("/skins/user/rwd_shoper_4/images/user/elipse1.svg");
    }
    #section1-image1 {
        background-image: url("../images/user/costarica1.png");
        background-size:  cover;   
        background-repeat:  no-repeat;
        z-index: -1;
        max-width: 100%;
    	max-height: 100%;
    }
    #section1-coffee1 {
        position:relative;
        bottom: -265px;
        left: -55%;
    }
    #section1-coffeebeans {
        width: 200%;
        position:absolute;
        bottom: 60;
        right: -100%;
        z-index: -1;
    }
    #section1-coffeehouse {
        width: 200%;
        margin-top: 50px;
    }
    #section1-trapeze {
        /* height: 600px; */
        background-image: url("../images/user/trapeze2_tablet.svg");
        background-size:  cover;   
        background-repeat:  no-repeat;
        z-index: -2;
    }
    #p-section1-2 {
        margin-right: 30%;
        font: normal normal normal 14px/17px montserrat;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    #text2-div {
        position: absolute;
        top: 15;
        left: 60%;
        margin-right: 5%;
    }
    #section1-text2 {
        margin-bottom: 10px;
        text-align: left;
        font: normal normal bold 27px/27px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    #section1-text3 {
        margin-bottom: 10px;
        line-height: 1.3;
        text-align: left;
        font: normal normal 400 15px/17px montserrat;
        letter-spacing: -0.5px;
        color: #000000;
        opacity: 1;
    }
    /* PRODUCTS */
    .products-mobile {
        display: none;
    }
      .products-p-1 {
        font: normal normal 500 14px/17px montserrat;
        letter-spacing: 1.4px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
    }
    .products-p-2 {
      	margin-top: 0 !important;
      	margin-bottom: 12px !important;
        text-align: center;
        font: normal normal bold 32px/36px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    .productname {
      	text-align: center;
        font: normal normal bold 32px/36px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    .productnamewrap {
      height: auto !important;
    } 
    .price em{
      text-align: center;
      font: normal normal bold 20px/30px Poppins;
      font-size: 20px !important;
      letter-spacing: 0px;
      color: #FF9900 !important;
      opacity: 1;
    }
    .addtobasket {
      border: none !important;
        margin-top: 20px;
        border-width: 0px;
        border-radius: 37px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #FFA231 !important;
        width: auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 15px;
        font-weight: 400;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        color: #ffffff;
        text-transform: uppercase;
      	padding: 0.1em .85em;
    } 
    #products-p-1 {
        font: normal normal 600 14px/17px montserrat;
        letter-spacing: 1.4px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
    }
    #products-p-2 {
        text-align: center;
        font: normal normal bold 30px/32px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    #products-p-2-title {
        text-align: center;
        font: normal normal bold 15px/23px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    #products-p-3 {
        text-align: center;
        font: normal normal normal 14px/17px montserrat;
        letter-spacing: 0px;
        color: #848484;
        opacity: 1;
        margin: 0 5% 15px 5%
    }
    #products-p-price {
        text-align: center;
        font: normal normal bold 20px/30px Poppins;
        letter-spacing: 0px;
        color: #E01643;
        opacity: 1;
    }

    .row-products-2 {
        margin-top: 50px;
    }

    .row-products-2 div {
        margin: auto; 
        text-align: center;
    }
    .row-products-2 div:not(:last-child):not(:nth-child(5)):not(:first-child) {
        border-right: 1px solid #C4C4C4;
        
    }

    /* DELIVERY */
    .delivery {
        display:none;
    }
  	#delivery-icon {
      content: url("/skins/user/rwd_shoper_4/images/user/delivery_tablet.svg");
    }
    #delivery-tablet-p1 {
        text-align: left;
        font: normal normal 800 27px/31px Poppins;
        letter-spacing: 0px;
        color: #000000;
        margin-bottom: 0;
    }
    #delivery-tablet-p2 {
        text-align: left;
        font: normal normal 400 27px/31px Poppins;
        letter-spacing: 0px;
        color: #000000;
    }
    /* NEWS*/
    .news {
        display: none;
    }
    .news-tablet .col { 
        margin: 20px;
    }
  	.card-img-top {
      min-height: 300px;
    }
  	.card-body {
      min-height: 230px;
    }
    .mb-3 {
        box-shadow: 0px 3px 30px #00000029;
    }
    #news-p1 {
        text-align: left;
        font: normal normal 600 15px/15px montserrat;
        letter-spacing: 1.2px;
        color: #848484;
        opacity: 1;
        margin: auto;
    }
    #news-p2 {
        margin-top: 20px !important;
        text-align: left;
        font: normal normal bold 20px/20px montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        display: none;
    }
    #news-p4 {
        font: normal normal 600 14px/17px montserrat;
        letter-spacing: 1.4px;
        color: #FFC400;
        text-transform: uppercase;
        opacity: 1;
        text-align: right;
          position: absolute;
    top: 90%;
    left: 70%;
    }
    /* SECTION 2 */
    .section-2 { 
        display: none;
    }
    #section-2-image-tablet {
        position: relative; 
        top: 65px;
      	
    }
    #image-section2 {
        position: relative;
        height: 600px;
        right: -10%;
        top: 150px;
        content: url(/skins/user/rwd_shoper_4/images/user/wspieramy.jpg);
        z-index: 1;
    }
    #p-section2-2 {
        text-align: left;
        font: normal normal normal 15px/18px montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      	margin-right: 50% !important;
    }
 	#elipse3 {
      position:absolute;
      z-index: -1;
      content: url("/skins/user/rwd_shoper_4/images/user/elipse1.svg");
    }
    /* FOOTER */
    #footer {
    }
    .footer div {
        margin-bottom: 0;
    }
    .footer-tablet {
        background-color: white !important;
        background-size:  cover;   
        background-image: url("../images/user/footer.svg");
        background-repeat:  no-repeat;
        padding-top: 140px;
    }
    .p-footer1 {
        text-align: left;
        font: normal normal bold 24px/27px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .p-footer2 {
        text-align: left;
        font: normal normal 600 15px/18px montserrat;
        letter-spacing: 1.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        margin-bottom: 0 !important;
      	margin-top: 0 !important;
    }

    .p-footer3 {
        text-align: left;
        font: normal normal normal 12px/15px montserrat;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        margin-bottom: 0;
    }

    .footer-p4 {
        text-align: center;
        font: normal normal normal 12px/25px Poppins;
        letter-spacing: 0px;
        color: #B07985;
        opacity: 1;
        margin-bottom: 0;
    }
    .row-border {
        border-top: 1px solid #B07985;
        padding-bottom: 25px;
    }
}
@media screen and (min-width: 1440px) {
  	html {
    scroll-behavior: smooth;
	}
  	.search__container {
      clear: both;
      min-width: none !important;
      margin-top: 15px;
      position: relative !important;
      top: -140px !important;
      left: -35% !important;
      width: 33% !important;
    }
    .row-mobile, .section1-mobile, .products-mobile, .delivery, .news, .section-2, .mobile{
        display: none;
    }
    .search__container {
  position: relative;
    top: 70px;
      right: 10%;
}
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    #home {
      display: block;
    }
    .header {
        max-width: 1000%;
        background-size:  contain;   
        background-image: url("../images/user/header_v22.jpg");
        background-repeat:  no-repeat;
        width: 100%;
        height: 1030px;
      	margin-top: -35px;
    }
    #header-div-txt-2 {
        margin-top: 180px;
    }
    .row-1 {
        padding: 20px 15px 0 0;
    }
    .row-1 a {
        font: normal normal 600 15px/23px montserrat;
        letter-spacing: 1.8;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        margin-left: 2%;
    }
    .nav-1 {
        margin-right: 20px;
      	padding-top: 20px;
    }
    .nav-1, .nav-2 {
        text-align: center;
    }
    .row-2 {
        margin-top: 35px !important;
    }
    .row-2 a {
        font: normal normal 600 15px/23px montserrat;
        letter-spacing: 1.8;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
        margin-right: 3%;
    }
    .row-3 {
        margin-top: 100px;
    }
  #p-small-header {
      color: #ffffff;
      text-align: left;
      font: normal normal 400 20px/31px Poppins;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
      opacity: 1;
      margin: 0 0 0 15% !important;
    }
    .p-tablet-slide-title {
      margin-left: 10%;
      text-align: left;
      font: normal normal bold 57px/51px Poppins;
      letter-spacing: 0px;
      color: #070707;
      opacity: 1;
      margin-top: 20px;
      margin-bottom: 0 !important;
    }
    .p-tablet-slide-description1 {
        margin-left: 10%;
        text-align: left;
        font: normal normal bold 16px/26px Poppins;
        letter-spacing: 2px;
        color: #070707;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 5px;
    }
    .p-tablet-slide-description2 {
      text-align: left;
      font: normal normal medium 20px/25px Poppins;
      letter-spacing: 2px;
      color: #070707;
      text-transform: uppercase;
      opacity: 1;
      font-weight: 600;
      }
    .swiper-button-prev {
    color: #DBDBDB !important;
  }
  .swiper-button-next {
    color: #DBDBDB !important;
  }
    #header-div-txt-2 {
    }
    #p-header-1 {
        font-family: Poppins;
        text-align: left;
        font-size: 42px;
        line-height: 52px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #ffffff;
        margin: 0 0 0 15%;
        text-shadow: 0px 4px 6px rgb(0, 0, 0, 0.6);
    }
    #p-header-2 {
      	margin: 0;
        text-align: left;
        font: normal normal 500 70px/72px Poppins;
        letter-spacing: 0px;
        color: #000000;
    }
    #p-header-3 {
        text-align: left;
        font: normal normal normal 20px/24px montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      	padding-right: 225px;
    }
    #button1 {
        border-width: 0px;
        border-radius: 37px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        width: auto;
        height: 55px;
        text-align: center;
        font: normal normal medium 18px/23px montserrat;
        letter-spacing: 1.8px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        color: #FFA231;
        padding: 0 20px 0 20px;
        font-weight: 700;
      	margin-left: 15%;
    }
    #button2 {
        border-width: 0px;
        border-radius: 37px;
        border: solid 2px #e01643;
        width: 200px;
        height: 65px;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;
        color: #e01643;
    }
    #icon-search {
        max-width: 1000%;
        content:  url("/skins/user/rwd_shoper_4/images/user/search_desktop.svg");
    }
    #icon-person {
        max-width: 1000%;
        content:  url("/skins/user/rwd_shoper_4/images/user/person_desktop.svg");
    }
    #icon-basket {
        max-width: 1000%;
        content:  url("/skins/user/rwd_shoper_4/images/user/basket_desktop.svg");
    }
    #mott-logo {
        max-width: 1000%;
        content:  url("/skins/user/rwd_shoper_4/images/user/logo_desktop.svg");
        position: relative;
        top: -40px;
    }
    /*  */
    /* SECTION1 */
    /*  */
    .row-section1-1 {
        margin-top: 10px;
      	margin-bottom: -150px;
      	position: relative;
      	z-index: 9;
    }
    #section1-row2 {
        height: 493px;
        max-height: 493px;
    }
    #section1-text1-tablet {
        /* background-image: url("../style-tablet/icons/section2.svg");
        background-size:  cover;   
        background-repeat:  no-repeat; */
        width: 100%;
        z-index: -1;
    }
    #p-section1-1 {
        margin-top: 120px;
        text-align: left;
        font: normal normal bold 50px/50px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    #p-section1-2 {
        text-align: left;
        font: normal normal normal 18px/23px montserrat;
        letter-spacing: 0px;
        color: #000000;
    }
    #elipse1 {
        max-width: 1000%;
        content: url("/skins/user/rwd_shoper_2/images/user/elipse1_desktop.svg");
        position:absolute;
        z-index: -1;
    }
    .elipse1-slider {
      width: 45px;
    }
  	#elipse2 {
        max-width: 1000%;
        content: url("/skins/user/rwd_shoper_2/images/user/elipse1_desktop.svg");
        position:absolute;
        z-index: -1;
    }
    #section1-image1 {
        max-width: 1000%;
        background-image: url("/skins/user/rwd_shoper_2/images/user/costarica1.png");
        background-size:  cover;   
        background-repeat:  no-repeat;
        z-index: -1;
      	margin-top: -150px;
          max-width: 100%;
    max-height: 100%;
    }
    #section1-coffee1 {
        content: url("/skins/user/rwd_shoper_2/images/user/coffee1_desktop.png");
        position: relative;
        bottom: -275px;
        left: -60%;
        width: 80%;
    }
    #section1-coffeebeans {
        width: 200%;
        position:absolute;
        bottom: 60;
        right: -100%;
        z-index: -1;
    }
    #section1-coffeehouse {
        width: 200%;
        margin-top: 50px;
        max-width: 200%;
        content: url("/skins/user/rwd_shoper_2/images/user/both_desktop.png");
    }
    #section1-trapeze {
        height: 600px;
        max-width: 1000%;
        background-image: url("/skins/user/rwd_shoper_2/images/user/trapeze2.svg");
        background-size:  cover;   
        background-repeat:  no-repeat;
        z-index: -2;
    }
    #elipse2 {
        position:absolute;
        z-index: -1;
        max-width: 1000%;
        content: url("/skins/user/rwd_shoper_2/images/user/elipse1_desktop.svg");
    }
    #text2-div {
        position: absolute;
        top: 15;
        left: 60%;
        margin-right: -5%;
    }
    #section1-text2 {
        margin-bottom: 10px;
        text-align: left;
        font: normal normal bold 27px/27px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    #section1-text3 {
        margin-bottom: 10px;
        line-height: 1.3;
        text-align: left;
        font: normal normal 400 15px/17px montserrat;
        letter-spacing: -0.5px;
        color: #000000;
        opacity: 1;
    }

  .productname {
    	padding-top: 0 !important;
      	text-align: center;
        font: normal normal bold 20x/36px Poppins !important;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    .productnamewrap {
      height: 70px !important;
    } 
    .price em{
      text-align: center;
      font: normal normal bold 20px/30px Poppins;
      font-size: 20px !important;
      letter-spacing: 0px;
      color: #FF9900 !important;
      opacity: 1;
    }
    .addtobasket {
      border: none !important;
        border-width: 0px;
        border-radius: 37px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #FFA231 !important;
        width: auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 15px;
        font-weight: 400;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.6px;
        color: #ffffff;
        text-transform: uppercase;
      	padding: 0.1em .85em;
    } 
    .roductnamewrap {
      height: 70px !important;
    }
    .row-products-1 {
        margin-top: 650px;
    }
    .products-p-1 {
        font: normal normal 500 14px/17px montserrat;
        letter-spacing: 1.4px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
    }
    .products-p-2 {
      	margin-top: 0 !important;
      	margin-bottom: 12px !important;
        text-align: center;
        font: normal normal bold 52px/55px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    #products-p-1 {
        font: normal normal 600 16px/19px montserrat;
        letter-spacing: 1.6px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;
        text-align: center;
    }
    #products-p-2 {
        text-align: center;
        font: normal normal bold 50px/76px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    #products-p-2-title {
        text-align: center;
        font: normal normal bold 15px/23px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        margin: auto;
    }
    #products-p-3 {
        text-align: center;
        font: normal normal normal 14px/17px montserrat;
        letter-spacing: 0px;
        color: #848484;
        opacity: 1;
        margin: 0 5% 15px 5%;
    }
    #products-p-price {
        text-align: center;
        font: normal normal bold 20px/30px Poppins;
        letter-spacing: 0px;
        color: #E01643;
        opacity: 1;
    }

    .row-products-2 {
        margin-top: 50px;
    }

    .row-products-2 div {
        margin: auto; 
        text-align: center;
    }
    .row-products-2 div:not(:last-child):not(:nth-child(5)):not(:first-child) {
        border-right: 1px solid #C4C4C4;
        
    }
    /* DELIVERY */
    #delivery-tablet-p1 {
        text-align: left;
        font: normal normal 800 50px/57px Poppins;
        letter-spacing: 0px;
        color: #000000;
        margin-bottom: 0;
    }
    #delivery-tablet-p2 {
        text-align: left;
        font: normal normal 400 50px/57px Poppins;
        letter-spacing: 0px;
        color: #000000;
    }
    #delivery-icon {
        max-width: 1000%;
        content: url("../images/user/delivery_desktop.svg");
    }
  	#delivery-tablet-p2 {
      margin-top: 0;
    }
    /* NEWS*/
    .news-tablet .col { 
        margin: 20px;
    }
  	.card-img-top {
      height: 300px;
    }
  	.card-body { 
    	margin: 20px;
      	min-height: 220px;
    }
    }
    .card-body p {
		margin: 15px;
    }
    #icon-clock {
        max-width: 1000%;
        content: url("../images/user/clock_desktop.svg");
    }
    #icon-arrow {
        max-width: 1000%;
        content: url("../images/user/arrow.svg");
    }
    .mb-3 {
        box-shadow: 0px 3px 30px #00000029;
    }
    #news-p1 {
        text-align: left;
        font: normal normal 600 15px/15px montserrat;
        letter-spacing: 1.2px;
        color: #848484;
        opacity: 1;
    }
    #news-p2 {
        margin-top: 20px !important;
        text-align: left;
        font: normal normal bold 20px/20px montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    #news-p4 {
        font: normal normal 600 14px/17px montserrat;
        letter-spacing: 1.4px;
        color: #FFC400;
        text-transform: uppercase;
        opacity: 1;
        text-align: right;
    }
    /* SECTION 2 */
    .section-2-tablet {
      margin-top: -100px;
    }
  	#section1-row2 {
      margin-top: -10px;
    }
    #image-section2 {
      margin-left: 20%;
        max-width: 100%;
      margin-top: 170px;
        content: url("/skins/user/rwd_shoper_4/images/user/costarica2_desktop.png");
        height: 600px;
      	position: relative;
      	z-index: 1;
      	left: 20%;
    }
    #section2-text {
        margin-top: 300px;
    }
  #section2-text p {
    margin-right: 20%;
  }
    #elipse3 {
        position:absolute;
        z-index: -1;
        max-width: 1000%;
        content: url("/skins/user/rwd_shoper_4/images/user/elipse1_desktop.svg");
    }
    #section-2-image-tablet {
        position: relative; 
        top: 130px;
    }
    #p-section2-2 {
        text-align: left;
        font: normal normal normal 15px/23px montserrat;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    /* FOOTER */
    #icon-cup {
        max-width: 1000%;
        content: url("/skins/user/rwd_shoper_4/images/user/cup_desktop.svg");
    }
    #icon-store {
        max-width: 1000%;
        content: url("/skins/user/rwd_shoper_4/images/user/store_desktop.svg");
    }
    #icon-phone {
        max-width: 1000%;
        content: url("/skins/user/rwd_shoper_4/images/user/phone_desktop.svg");
    }
    #icon-mail {
      	max-width: 1000%;
        content: url("/skins/user/rwd_shoper_4/images/user/mail_desktop.svg");
    }
    .footer div {
        margin-bottom: 0;
    }
    .footer-tablet {
        background-color: white !important;
        background-size: cover;
        background-image: url(/skins/user/rwd_shoper_4/images/user/footer.svg);
        background-repeat: no-repeat;
        padding-top: 145px;
    }
    .p-footer1 {
        text-align: left;
        font: normal normal bold 36px/50px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .p-footer2 {
        text-align: left;
        font: normal normal 600 20px/30px montserrat;
        letter-spacing: 2.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
    }

    .p-footer3 {
        text-align: left;
        font: normal normal normal 13px/19px montserrat;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        margin-bottom: 0;
    }

    .footer-p4 {
        text-align: center;
        font: normal normal normal 16px/19px Poppins;
        letter-spacing: 0px;
        color: #B07985;
        opacity: 1;
        margin-bottom: 0;
    }
    #icon-fb {
        max-width: 1000%;
        content: url("/skins/user/rwd_shoper_2/images/user/fb_desktop.svg");
    }
    #icon-insta {
        	max-width: 1000%;
        content: url("/skins/user/rwd_shoper_2/images/user/insta_desktop.svg");
    }
    .row-border {
        border-top: 1px solid #B07985;
        padding-bottom: 25px;
      	margin-bottom: -40px;
    }

.mobile-menu-main { 
      background-image: url("/skins/user/rwd_shoper_4/images/user/menu_bg.png");
  background-size:  cover;   
  background-repeat:  no-repeat;
  width: 100%;
  background-position: center center;
  display: none;
}

/* ICONS */
.row-mobile-menu-1 {

}

#icon-logo {
    width: 35%;
}
.icon-logo {
  text-align: right;
  margin: auto;
}
.icon-close-div {
    text-align: left;
  margin: auto;
}
/* ICONS END */

/* MENU LIST */
.mobile-menu div {
    display: grid;
    text-align: center;
    padding-bottom: 25px;
}
.mobile-menu a {
    margin: 5px;
    text-align: center;
    font: normal normal 500 18px/50px montserrat;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
  	text-decoration: none;
}

/* BUTTON */
#button1-mobile {
    margin-top: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 37px;
    /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); */
    background-color: #FFA231;
    width: auto;
    height: 50px;
    text-align: center;
    font: normal normal 500 18px/50px montserrat;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    color: #ffffff;
    padding: 0 20px 0 20px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}


.page-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}


.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

/* SHOPER CSS */ 



.container {
  max-width: none;
}

.innermain {
  max-width: 1180px;
}
.innerfooter {
  max-width: 1180px;
}
/*

.innermenu {
  display: none;
}
.innerfooter {
  display: none;
}

.s-row { 
	display: none;
}
 */

/* NEWS */ 
.-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.mb-3 {
    box-shadow: 0px 3px 30px #00000029;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: vertical; */
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

  .login-bar, .logo-bar, .menu {
    display: none;
  }

   .footer-tablet p{
     margin: 0 !important;
   }

    .product {
      border: none !important;
    }

 	#elipse3 {
      position:absolute;
      z-index: -1;
      content: url("/skins/user/rwd_shoper_4/images/user/elipse1.svg");
    }
  .quickview {
    background-color: #ffffff !important;
    color: #ffa231 !important;
    border: none !important;
  }
  .quickview::before {
    color: #ffa231 !important;
    border: none !important;
  }
  .productname {
    margin-bottom: 0 !important;
  }
  .addtobasket:hover {
    border: none !important;
    background-color: #ef8300 !important;
  }
  .link-logo-img {
    display: none !important;
  }
  
  
  
  /* SHOP PAGE */
  @media screen and (max-width: 768px) {
    .search-info {
      margin-top: -85px;
    }
    .fa, .icon-custom-cart {
      color: #2F120E !important;
    }
    #menu-icon-image-1 {
      color: #2F120E !important;
    }
    .menu #rwd-menu li {
      background: #2F120E !important;
    }
    .menu #rwd-menu li a:hover, a:active{
      color: #FFA231 !important;
    }
    .rwd footer .innerfooter ul li>ul li {
    	background-color: #ffa231;
    }
    .search-input {
      background: transparent !important;
      height: 70px !important;
    }
    .search__input-area {
      background: #ffa231 !important;
    }
    #home-page-menu-container {
      background: rgba(0, 0, 0, 0.3);
    }
    #mobile-menu-display {
        position: fixed;
    	z-index: 10000;
    }
  }
  @media screen and (min-width: 769px) {
    #custom-mobile-menu1 {
      display: none
    }
    #pure_navbar2 {
        background-image: url("/skins/user/rwd_shoper_4/images/user/banner_but_without_logo.jpg");
        background-size:  cover;   
        background-repeat:  no-repeat;
        width: 100%;
        background-position: center center;
    }
    .nav-3 {
      max-width: 1180px;
      /* text-align: center; */
      margin: auto;
      text-align: right;
    }
    .nav-3 a{
      color: #2f120e;
    }
    .nav-2 {
        max-width: 1180px;
      /* text-align: center; */
    /*  margin: 40px 0 auto auto; */
      text-align: right;
    }
  }
  /* @media screen and (min-width: 1920px){
    .header {
        background-size: cover !important; 
    }
} */
  