<li class="menu-mobile-li" id="custom-mobile-menu">
    <img src="/libraries/images/1px.gif">
</li>

<div id="custom-mobile-menu-content" style="min-height: 100vh; display: none">
    <div class="page-row row-mobile-menu-1">
        <div class="col-1"></div>
        <div class="col icon-close-div"><img id="icon-close-image" alt="" /></div>
        <div class="col icon-logo"><img id="icon-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" /></div>
        
    </div>
    <div class="mobile-menu">
        <div id="mobile-menu-1">
            <a class="active" href="#home">START</a> 
            <!-- <a class="active" href="#section1-mobile">O NASZEJ KAWIE</a> 
            <a class="active" href="#news-mobile">AKTUALNOŚCI</a>  -->
            
            <!-- <a class="active" href="#home">MENU</a>  -->
            <a class="active" href="/pl/blog">BLOG</a> 
            <!-- <a href="#contact">KONTAKT</a></div> -->
        </div>
        <div id="mobile-menu-2">
            <a class="active" href="/pl/c/Kawa-ziarnista/160"><button id="button1-mobile">SKLEP ONLINE</button> </a> 
            <!-- <a class="active" href="/pl/login"><span style="margin-left: 5px;">ZALOGUJ SIĘ</span></a> 
            <a class="active" href="/pl/basket"><span style="margin-left: 5px;">KOSZYK</span></a> -->
        </div>
    </div>
    <!-- <div id="mobile-menu-3"><a class="active" href="#home"><em><img src="/skins/user/rwd_shoper_4/images/user/search.svg" alt="" /></em><span style="margin-left: 5px;">SZUKAJ</span></a></div> --></div>
</div>  