<div id="news-tablet" class="news-tablet">
    <div class="page-row news-1">
        <div class="col">
            <p id="products-p-1">mott coffee news</p>
            <p id="products-p-2">Aktualności</p>
        </div>
    </div>
    <div class="page-row" style="margin: 15px 40px;">
        <div class="col">
            <div class="card mb-3 shadow-sm"><img class="bd-placeholder-img card-img-top" src="/skins/user/rwd_shoper_4/images/user/warszawa1.jpg" alt="" />
                <div class="card-body">
                    <p id="news-p1"><em style="padding-right: 3%;"><img id="icon-clock" src="/skins/user/rwd_shoper_1/images/user/clock_tablet.svg" alt="" /></em>22-06-2021</p>
                    <p id="news-p2" class="card-text">NOWA KAWIARNIA W WARSZAWIE</p>
                    <p id="news-p3" class="card-text">
                        Nasza nowa kawiarnia już otwarta!!!
                        Serdecznie zapraszamy do naszej kawiarni w Warszawie na ul. Branickiego 9 (Wilanów).
                        Jesteśmy otwarci od poniedziałku do piątku w godzinach 10:00 - 18:00. </p>
                    <p id="news-p4" class="card-text">
                        <a href="/pl/blog/10">CZYTAJ DALEJ</a> <em style="padding-right: 3%;"><img id="icon-arrow" src="/skins/user/rwd_shoper_1/images/user/arrow.svg" alt="" /></em></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 shadow-sm"><img class="bd-placeholder-img card-img-top" src="/skins/user/rwd_shoper_4/images/user/blog_9.jpg" alt="" />
                <div class="card-body">
                <p id="news-p1"><em style="padding-right: 3%;"><img id="icon-clock" src="/skins/user/rwd_shoper_1/images/user/clock_tablet.svg" alt="" /></em>22-06-2021</p>
                <p id="news-p2" class="card-text">SPOSÓB KUPOWANIA KAWY</p>
                <p id="news-p3" class="card-text">Stosunkowo nowa koncepcja w przemyśle kawowym zakłada osobistą relację między nabywcą kawy, a Plantatorem....</p>
                <p id="news-p4" class="card-text"><a href="/pl/blog/9">CZYTAJ DALEJ</a> <em style="padding-right: 3%;"><img id="icon-arrow" src="/skins/user/rwd_shoper_1/images/user/arrow.svg" alt="" /></em></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3 shadow-sm"><img class="bd-placeholder-img card-img-top" src="/skins/user/rwd_shoper_4/images/user/8.jpg" alt="" />
                <div class="card-body">
                <p id="news-p1"><em style="padding-right: 3%;"><img id="icon-clock" src="/skins/user/rwd_shoper_1/images/user/clock_tablet.svg" alt="" /></em>22-06-2021</p>
                <p id="news-p2" class="card-text">KAWA Z GWATEMALI</p>
                <p id="news-p3" class="card-text">Gwatemala to pełen dzikiej roślinności kraj leżący w Ameryce Łacińskiej, Graniczy on z Hondurasem, Salwadorem i Meksykiem...</p>
                <p id="news-p4" class="card-text"><a href="/pl/blog/8">CZYTAJ DALEJ</a> <em style="padding-right: 3%;"><img id="icon-arrow" src="/skins/user/rwd_shoper_1/images/user/arrow.svg" alt="" /></em></p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="news-mobile" class="news mobile">
        <div class="row-news-1">
        <div class="col">

            <p id="products-p-1">mott coffee news</p>
            <p id="products-p-4">Aktualności</p>
            <div class="card mb-3 shadow-lg"><img id="news-mobile-1" class="bd-placeholder-img card-img-top" alt="" />
                <div class="card-body">
                    <div class="page-row">
                        <div class="col-12">
                            <p id="news-p1"><em style="padding-right: 3%;"><img id="icon-clock" alt="" /></em>7 LUTEGO 2020</p>
                        </div>
                    </div>
                    <div class="page-row">
                        <div class="col-12">
                            <p id="news-p2" class="card-text">NOWA KAWIARNIA W WARSZAWIE</p>
                        </div>
                        
                    </div>
                    <div class="page-row">
                        <div class="col-12">
                            <p id="news-p4" class="card-text">
                                <a href="/pl/blog/10">CZYTAJ DALEJ</a>
                                <em style="padding-right: 3%;">
                                    <img id="icon-arrow" alt="" />
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>