    <div id="pure_navbar2">
        <div id="mobile-menu-display" class="mobile-menu-main" style="z-index: 100;
        position: relative;">

        </div>
        <!-- <div class="row-2 page-row" id="menu-placeholder" style="margin: auto; place-content: center; display: grid;">
            <div class="col-12 nav-3">
                
                <a class="active" href="#home">START</a> 
                <a class="active" href="/pl/blog">BLOG</a>  
            
                <a class="active" href="#news-tablet">AKTUALNOŚCI</a> 
                <a class="active" href="#section1-tablet">O NASZEJ KAWIE</a> 
    
                <a href="/pl/i/Kontakt-i-dane-firmy/9">KONTAKT</a>
            
            </div>
            <div class="nav-2 col-12">

            </div>
          
    
        </div> -->
        <div class="row-2 page-row" style="margin: auto; place-content: center;">
            
            <div class="col-4" style="margin: 20px 0;">
                <a href="/">
                    <img src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" />
                </a>
            </div>
            <div class="col-8">
                <div class="page-row nav-3" style="place-content: flex-end; margin-top: 5px;">
                    <a class="active" href="/">START</a> 
                    
                    <!-- <a class="active threeSections" href="/#section1-tablet">O NASZEJ KAWIE</a>  -->
                    <!-- <a class="active" href="/#our-coffeehouses-desktop">KAWIARNIE</a> -->
<!--                     
                    
                    <a class="active threeSections" href="/#section2-tablet">WSPIERAMY</a> -->
                    <a href="/pl/i/Kontakt-i-dane-firmy/9">KONTAKT</a>
                    <a class="active" href="/pl/blog">BLOG</a>  
                </div>
                <div class="page-row" style="height: 60px;"></div>
                <div class="page-row nav-2" style="place-content: flex-end; margin-top: 55px;">

                </div>
            </div>
            
        </div>
    </div>


    <div id="custom-mobile-menu-content" style="min-height: 100vh; display: none">
        <div class="page-row row-mobile-menu-1">
            <div class="col-1"></div>
            <div class="col icon-close-div"><img id="icon-close-image" alt="" /></div>
            <div class="col icon-logo"><img id="icon-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" /></div>
            
        </div>
        <div class="mobile-menu">
            <div id="mobile-menu-1">
                <a class="active" href="/">START</a> 
                    
                <!-- <a class="active threeSections" href="/#section1-tablet">O NASZEJ KAWIE</a>  -->
                <!-- <a class="active threeSections" href="/#our-coffeehouses">KAWIARNIE</a>
                
                
                <a class="active threeSections" href="/#section2-tablet">WSPIERAMY</a> -->
                <a href="/pl/i/Kontakt-i-dane-firmy/9">KONTAKT</a>
                <a class="active" href="/pl/blog">BLOG</a>  
            </div>
            </div>
            <div id="mobile-menu-2">
                <!-- <a class="active" href="/pl/c/Kawa-ziarnista/160"><button id="button1-mobile">SKLEP ONLINE</button> </a>  -->
                <!-- <a class="active" href="/pl/login"><span style="margin-left: 5px;">ZALOGUJ SIĘ</span></a> 
                <a class="active" href="/pl/basket"><span style="margin-left: 5px;">KOSZYK</span></a> -->
            </div>
        </div>
        <!-- <div id="mobile-menu-3"><a class="active" href="#home"><em><img src="/skins/user/rwd_shoper_4/images/user/search.svg" alt="" /></em><span style="margin-left: 5px;">SZUKAJ</span></a></div> --></div>
    </div>  

    <!-- <div id="custom-mobile-menu">
        <div class="page-row" id="menu-title" style="place-content: center;">

            <button id="button1">
                SKLEP ONLINE
            </button>
        </div>
    </div> -->
    <div id="custom-mobile-menu1">
        <div class="page-row" id="mobile-search-placeholder" style="background-color: #ffa231; height: 50px;"></div>
        <div class="page-row" id="logo-menu-placeholder" style="height: 130px; place-content: space-between">
            <div class="col-1"></div>
            <div class="col-8" style="margin: auto">
                <img id="icon-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" style="float: left; width: 35%;"/>    
            </div>
            <div class="col-2" style="margin: auto;">
                <img id="menu-icon-image-1" src="/skins/user/rwd_shoper_4/images/user/menubar-white.svg" style="width: 40px; float:right;">
            </div>
            
            <div class="col-1"></div>
        </div>
        <div class="page-row" id="menu-title" style="place-content: center;">
            <!-- button -->
            <button id="button1-mobile" style="background: transparent; border: none;">
                SKLEP ONLINE
            </button>
        </div>

        <div class="page-row row-mobile-menu-1" id="custom-menu-2" style="place-content: center; padding: 0; display: none">
            <div style="display: grid; text-align: center;">
            <a class="active" href="/" style="color: #ffffff; margin: 5px;">START</a> 
            <!-- <a class="active threeSections" href="/#section1-mobile" style="color: #ffffff; margin: 5px;">O NASZEJ KAWIE</a>  -->
            <!-- <a class="active threeSections" href="/pl/#our-coffeehouses" style="color: #ffffff; margin: 5px;">KAWIARNIE</a> -->
         
            
            <!-- <a class="active threeSections" href="/#section2-tablet">WSPIERAMY</a> -->
            
            
            <a href="/pl/i/Kontakt-i-dane-firmy/9" style="color: #ffffff; margin: 5px;">KONTAKT</a>
            <a class="active" href="/pl/blog" style="color: #ffffff; margin: 5px;">BLOG</a> 
            <a href="/pl/c/Kawa-ziarnista/160" style="margin: 5px; ">
                <button id="button1-mobile">
                    SKLEP ONLINE
                </button>
            </a>
    
            </div>
        </div>    
    </div>






    </div>



    <!-- <li class="menu-mobile-li flex flex-4" id="custom-mobile-menu" style="display: none; width: 25%; text-align: center;">
        <img id="menu-icon-image" src="/skins/user/rwd_shoper_4/images/user/menu.svg" style=" width: 35px;
    margin-top: 9px;">
    </li> -->