<div id="section1-mobile" class="section1-mobile mobile">
    <!-- <div id="section1-row-12" class="page-row">
        <div class="col-1"> </div>
        <div class="col-10"><img id="elipse1" alt="" />
            <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Jakość, która <br /> ma smak</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row row-section1-2">
        <div class="col-1"> </div>
        <div class="col-10">
            <p id="p-section1-2">Tutaj zapoznacie się z kawą o najwyższej jakości, jaką jest Specialty Coffee. <br /> <br /> 
                W naszej wypalarni stawiamy na jakość i smak, a nie na komercję. Nasza wyjątkowa kawa sprowadzana jest prosto z 
                <strong>Kostaryki </strong>. Co ważne, jest ona kupowana bezpośrednio od plantatora. 
                Ta stosunkowo nowa koncepcja w przemyśle kawowym zakłada osobistą relację między palaczem lub nabywcą kawy, a plantatorem. 
                Oznacza to, że palacze kawy stosujący ten sposób kupowania kawy, muszą mieć wystarczające zasoby, aby regularnie odwiedzać farmy. 
                <br /> <br /> Pomimo ograniczeń, handel bezpośredni jest obiecującą etykietą, zwiększającą prawdopodobieństwo dobrej jakości kawy.
            </p>
        </div>
        <div class="col-1"> </div>
    </div> -->
    <div class="page-row row-section1-1" style="margin: auto; padding-bottom: 100px; min-height: 600px;">
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide page-row" style="background-color: #ffffff;">
                    <div>
                    <div class="page-row">
                        <div class="col-1"> </div>
                        <div class="col-10" style="text-align: left; margin:auto; margin-top: 0">
                            <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/costarica1.png">
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="page-row">
                        <p id="p-section1-2">Tutaj zapoznacie się z kawą o najwyższej jakości, jaką jest Specialty Coffee. <br /> <br /> W naszej wypalarni stawiamy na jakość i smak, a nie na komercję. Nasza wyjątkowa kawa sprowadzana jest prosto z <strong>Kostaryki </strong>. Co ważne, jest ona kupowana bezpośrednio od plantatora. Ta stosunkowo nowa koncepcja w przemyśle kawowym zakłada osobistą relację między palaczem lub nabywcą kawy, a plantatorem. Oznacza to, że palacze kawy stosujący ten sposób kupowania kawy, muszą mieć wystarczające zasoby, aby regularnie odwiedzać farmy. <br /> <br /> Pomimo ograniczeń, handel bezpośredni jest obiecującą etykietą, zwiększającą prawdopodobieństwo dobrej jakości kawy.</p>
                    </div>
                    </div>
                </div>
                <div class="swiper-slide page-row" style="background-color: #ffffff;">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Kawa <br /> specjalistyczna</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Kawa sprzedawana w Mott Coffee Company jest kawa specjalistyczną, sprowadzaną bezpośrednio od plantatora (Handel bezpośredni / Direct Trade), paloną mistrzowsko w wysokiej jakości piecu. Handel bezpośredni jest formą zaopatrzenia, praktykowaną przez niektóre palarnie kawy, producentów czekolady, sprzedawców herbaty itp., którzy budują bezpośrednie relacje z plantatorami sprzedającymi swoje produkty. Po kilkuletnich poszukiwaniach kaw o unikalnych smakach, Mott Coffee nawiązało współpracę aż dwoma wyselekcjonowanymi plantatorami kawy aż Kostaryki.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/kawa_specjalistyczna.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row" style="background-color: #ffffff;">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Suszenie<br />ziaren kawy</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Kawy w Mott Coffee są obrabiane naturalnymi sposobami, dlatego charakteryzują się wyrazistym i gładkim smakiem. <br/> Po zebraniu owoców kawowca, kawa jest przerabiana i naturalnie suszona na słońcu przez 21 dni na tzw. afrykańskich stołach, pod opieką plantatora. Dla porównania, kawy komercyjne suszone są w specjalnie zaprojektowanych piecach, przyspieszających ten naturalny i całkowity proces.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/suszenie_ziaren.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row" style="background-color: #ffffff;">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Kanton<br />Tarrazu</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Kawa pochodząca z Tarrazu uprawiana jest na wysokości 1800 m n.p.m. i jej zbiory odbywają się w miesiącach styczeń – marzec. <br/> Kawę pochodzącą z tego regionu charakteryzuje bardzo aromatyczny i intensywny smak, wyróżnia ją delikatna kwasowość. Kawa ta, zaliczana jest do jednych z najlepszych kaw na świecie, głównie z powodu miejsca jej pochodzenia i pasji plantatorów.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/tarrazu.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row" style="background-color: #ffffff;">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Kanton<br />Coto Brus</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Coto Brus jest jedną ze stref Brunca w południowej części Kostaryki, graniczącą z Panamą. <br/> Kawa z Coto Brus uprawiana jest na wysokości 1200 m n.p.m. i zbierana jest w miesiącach listopad - luty. Charakteryzuje się słodko – owocowymi smakami.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/coto.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row" style="background-color: #ffffff;"> 
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Dlaczego<br />Mott?</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">
                            Kawa sprzedawana w Mott Coffee Company jest kawą specjalistyczną, 
                            czyli kawą o najwyższej, niepodlegającej kompromisom jakości. 
                            Produkujemy i sprzedajemy kawę, o której wiemy wszystko i za którą bierzemy 
                            pełną odpowiedzialność. Dlaczego? Bo traktujemy ją z największym profesjonalizmem i 
                            zaangażowaniem, a naszym priorytetem jest zawsze smak.
                        </p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/why_mott.png" style="width: 80%;" >
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </div>
    <div class="page-row" style="background-color: #FFA231;" style="margin-top: -30px;">
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
 
              <div class="swiper-slide">
                <div class="page-row">
                    <div class="col">
                        <img src="/skins/user/rwd_shoper_4/images/user/coffeehouse.png" alt="" />
                    </div>
                </div>
                  <div class="page-row" >
                      <div class="col-1"></div>
                      <div class="col-10" style="text-align: center">
                          <p class="p-slide-title">Nasze kawiarnie</p>
                          <p class="p-slide-address"> ul. Bitwy o Wał Pomorski 10 <br> 33-100 Tarnów</p>
                          <p class="p-slide-description">Zapraszamy <br> od poniedziałku od piątku w godzinach <br> 9:00 - 17:00</p>
                          <p class="p-slide-description">tel. +48  602 520 385</p>
                       </div>
                      <div class="col-1"></div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="page-row">
                    <div class="col">
                        <img src="/skins/user/rwd_shoper_4/images/user/raclawicka.jpg" alt="" />
                    </div>
                </div>
                <div class="page-row">
                    <div class="col-1"></div>
                    <div class="col-10" style="text-align: center">
                        <p class="p-slide-title">Nasze kawiarnie</p>
                        <p class="p-slide-address"> ul. Racławicka 14 <br> 33-100 Tarnów</p>
                        <p class="p-slide-description">Zapraszamy <br> od poniedziałku od piątku w godzinach <br> 9:00 - 17:00</p>
                        <p class="p-slide-description">tel. +48 600 033 058</p>
                    </div>
                    <div class="col-1"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="page-row">
                    <div class="col">
                        <img src="/skins/user/rwd_shoper_4/images/user/warszawa.jpg" alt="" />
                    </div>
                </div>
                <div class="page-row">
                    
                    <div class="col-1"></div>
                    <div class="col-10" style="text-align: center">
                        <p class="p-slide-title">Nasze kawiarnie</p>
                        <p class="p-slide-address">ul. Branickiego 9  <br> lok. 158, 02-972 Warszawa</p>
                        <p class="p-slide-description">Zapraszamy <br> od poniedziałku od piątku w godzinach <br> 10:00 - 18:00 </p>
                        <p class="p-slide-description">tel. +48 730 503 098</p>
                    </div>
                    <div class="col-1"></div>
                </div>
              </div>
              
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    
    <script>// <![CDATA[
    
    // ]]></script>
    <div class="page-row" style="margin-top: 30px; margin-bottom: -30px;">
        <div class="col">
            <p class="products-p-1">
                mott coffee company
            </p>
            <p class="products-p-2">
                Wypróbuj nasze <br/> produkty
            </p>
        </div>
    </div>
</div>
    <!-- SECTION I  -->
    <div id="section1-tablet" class="section1-tablet">
    <div class="page-row row-section1-1" style="margin: auto; padding-bottom: 100px; min-height: 600px;">
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide page-row">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto; margin-top: 0">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Jakość, która <br />ma smak</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Tutaj zapoznacie się z kawą o najwyższej jakości, jaką jest Specialty Coffee. <br /> <br /> W naszej wypalarni stawiamy na jakość i smak, a nie na komercję. Nasza wyjątkowa kawa sprowadzana jest prosto z <strong>Kostaryki </strong>. Co ważne, jest ona kupowana bezpośrednio od plantatora. Ta stosunkowo nowa koncepcja w przemyśle kawowym zakłada osobistą relację między palaczem lub nabywcą kawy, a plantatorem. Oznacza to, że palacze kawy stosujący ten sposób kupowania kawy, muszą mieć wystarczające zasoby, aby regularnie odwiedzać farmy. <br /> <br /> Pomimo ograniczeń, handel bezpośredni jest obiecującą etykietą, zwiększającą prawdopodobieństwo dobrej jakości kawy.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto; margin-top: 0">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/costarica1.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Kawa <br /> specjalistyczna</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Kawa sprzedawana w Mott Coffee Company jest kawa specjalistyczną, sprowadzaną bezpośrednio od plantatora (Handel bezpośredni / Direct Trade), paloną mistrzowsko w wysokiej jakości piecu. Handel bezpośredni jest formą zaopatrzenia, praktykowaną przez niektóre palarnie kawy, producentów czekolady, sprzedawców herbaty itp., którzy budują bezpośrednie relacje z plantatorami sprzedającymi swoje produkty. Po kilkuletnich poszukiwaniach kaw o unikalnych smakach, Mott Coffee nawiązało współpracę aż dwoma wyselekcjonowanymi plantatorami kawy aż Kostaryki.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/kawa_specjalistyczna.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Suszenie<br />ziaren kawy</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Kawy w Mott Coffee są obrabiane naturalnymi sposobami, dlatego charakteryzują się wyrazistym i gładkim smakiem. <br/> Po zebraniu owoców kawowca, kawa jest przerabiana i naturalnie suszona na słońcu przez 21 dni na tzw. afrykańskich stołach, pod opieką plantatora. Dla porównania, kawy komercyjne suszone są w specjalnie zaprojektowanych piecach, przyspieszających ten naturalny i całkowity proces.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/suszenie_ziaren.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Kanton<br />Tarrazu</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Kawa pochodząca z Tarrazu uprawiana jest na wysokości 1800 m n.p.m. i jej zbiory odbywają się w miesiącach styczeń – marzec. <br/> Kawę pochodzącą z tego regionu charakteryzuje bardzo aromatyczny i intensywny smak, wyróżnia ją delikatna kwasowość. Kawa ta, zaliczana jest do jednych z najlepszych kaw na świecie, głównie z powodu miejsca jej pochodzenia i pasji plantatorów.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/tarrazu.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Kanton<br />Coto Brus</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">Coto Brus jest jedną ze stref Brunca w południowej części Kostaryki, graniczącą z Panamą. <br/> Kawa z Coto Brus uprawiana jest na wysokości 1200 m n.p.m. i zbierana jest w miesiącach listopad - luty. Charakteryzuje się słodko – owocowymi smakami.</p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/coto.png" style="width: 80%;">
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>
                <div class="swiper-slide page-row">
                    <div class="col-1"> </div>
                    <div id="section1-text1-tablet" class="col-4" style="margin: auto">
                        <div class="page-row" style="margin-bottom: 15px;">
                        <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                        <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Dlaczego<br />Mott?</p>
                        </div>
                        <div class="col-1"> </div>
                        </div>
                        <p id="p-section1-2">
                            Kawa sprzedawana w Mott Coffee Company jest kawą specjalistyczną, 
                            czyli kawą o najwyższej, niepodlegającej kompromisom jakości. 
                            Produkujemy i sprzedajemy kawę, o której wiemy wszystko i za którą bierzemy 
                            pełną odpowiedzialność. Dlaczego? Bo traktujemy ją z największym profesjonalizmem i 
                            zaangażowaniem, a naszym priorytetem jest zawsze smak.
                        </p>
                    </div>
                    <div class="col-6" style="text-align: left; margin:auto">
                        <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/why_mott.png" style="width: 80%;" >
                    </div>
                    <!-- <div class="col-2"></div> -->
                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </div>
    <div class="page-row" >
        <div class="col">
            <div class="swiper-container mySwiper" style="min-height: 450px;">
                <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="page-row">
                        <div class="col-1"></div>
                        <div class="col-5" style="margin:auto">
                            <img src="/skins/user/rwd_shoper_4/images/user/coffeehouse.png" >
                        </div>
                        <div class="col-6" >
                            <div style="margin: auto;">
                                <!-- <img class="elipse1-slider" style="position: absolute; left: 56%;z-index: -2;" 
                                src="/skins/user/rwd_shoper_4/images/user/elipse1.svg"> -->
                                <p class="p-tablet-slide-title" style="margin-left: 10%;">
                                    Nasze <br/> kawiarnie
                                </p>
                                <p class="p-tablet-slide-description1" style="margin-left: 10%;">ul. Bitwy o Wał Pomorski 10 <br> 33-100 Tarnów</p>
                                <p class="p-tablet-slide-description2" style="margin-left: 10%;">Zapraszamy <br/> Od poniedziałku do piątku <br/> W godzinach 9:00 - 17:00 </p>
                                <p class="p-tablet-slide-description2" style="margin-left: 10%;">Tel.  +48  602 520 385</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="page-row">
                        <div class="col-1"></div>
                        <div class="col-5" style="margin:auto">
                            <img src="/skins/user/rwd_shoper_4/images/user/raclawicka1.jpg" >
                        </div>
                        <div class="col-6" >
                            <div style="margin: auto;">
                                <!-- <img class="elipse1-slider" style="position: absolute; left: 56%;z-index: -2;" 
                                src="/skins/user/rwd_shoper_4/images/user/elipse1.svg"> -->
                                <p class="p-tablet-slide-title" style="margin-left: 10%;">
                                    Nasze <br/> kawiarnie
                                </p>
                                <p class="p-tablet-slide-description1" style="margin-left: 10%;">ul. Racławicka 14 <br> 33-100 Tarnów</p>
                                <p class="p-tablet-slide-description2" style="margin-left: 10%;">Zapraszamy <br/> Od poniedziałku do piątku <br/> W godzinach 9:00 - 17:00 </p>
                                <p class="p-tablet-slide-description2" style="margin-left: 10%;">Tel. +48 600 033 058</p>
                            </div>
                        </div>
                        <!-- <div class="col-2"></div> -->
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="page-row">
                        <div class="col-1"></div>
                        <div class="col-5" style="margin:auto">
                            <img src="/skins/user/rwd_shoper_4/images/user/warszawa1.jpg" >
                        </div>
                        <div class="col-6" >
                            <div style="margin: auto;">
                                <!-- <img class="elipse1-slider" style="position: absolute; left: 56%;z-index: -2;" 
                                src="/skins/user/rwd_shoper_4/images/user/elipse1.svg"> -->
                                <p class="p-tablet-slide-title" style="margin-left: 10%;">
                                    Nasze <br/> kawiarnie
                                </p>
                                <p class="p-tablet-slide-description1" style="margin-left: 10%;">ul. Branickiego 9  <br> lok. 158, 02-972 Warszawa</p>
                                <p class="p-tablet-slide-description2" style="margin-left: 10%;">Zapraszamy <br/> Od poniedziałku do piątku <br/> W godzinach 10:00 - 18:00 </p>
                                <p class="p-tablet-slide-description2" style="margin-left: 10%;">tel. +48 730 503 098</p>
                            </div>
                        </div>
                        <!-- <div class="col-2"></div> -->
                    </div>
                </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="page-row" style="margin-top: 30px; margin-bottom: -30px;">
        <div class="col" style="text-align: center;">
            <p class="products-p-1">
                mott coffee company
            </p>
            <p class="products-p-2">
                Wypróbuj nasze <br/> produkty
            </p>
        </div>
    </div>
    <!-- <div id="section1-row2" class="page-row">
    <div class="col-1"> </div>
    <div class="col-3" style="text-align: right; margin-top: 35px;"><img id="section1-coffeehouse" src="/skins/user/rwd_shoper_4/images/user/both.png" alt="" /></div>
    <div id="section1-trapeze" class="col-8">
    <div id="text2-div" style="margin-top: 75px;">
    <div class="page-row" style="margin-bottom: 20px;">
    <div class="col"><img id="elipse2" src="/skins/user/rwd_shoper_4/images/user/elipse2.svg" alt="" />
    <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Nasze <br /> kawiarnie</p>
    </div>
    </div>
    <p id="p-section1-2">Zapraszamy do kawiarni na ulicy <strong>Racławickiej 14 w Tarnowie </strong> na pyszną kawę zdala od zgiełku i ruchliwych ulic. <br /> <br /> 20-go czerwca 2020 otworzyliśmy kolejną kawiarnię w Tarnowie. Zapraszamy wszystkich smakoszy dobrej kawy pod adres <strong>ul. Bitwy o Wał Pomorski 10, os. Słoneczne. </strong> <br /> <br /> A już wkrótce otwarcie baru kawowego Mott Coffee w <strong>Warszawie!</strong></p>
    <a href="/pl/n/list"> <button id="button1">ZOBACZ</button> </a></div>
    </div>
    </div> -->
</div>