<section id="contact">
<div id="footer-mobile" class="footer mobile">
    <div class="page-row" style="padding-top: 25px;">
        <div class="col-1"> </div>
        <div class="col-10">
        <p class="footer-p1">Gdzie jesteśmy?</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
        <div class="col-1" style="margin-right: 0;"> </div>
        <div class="col-1" style="margin-left: 0;"><img id="icon-cup" alt="" /></div>
        <div class="col-8" style="margin: auto;">
        <p class="footer-p2">Kawiarnie</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 5px;">
        <div class="col-1" style="margin-right: 0;"> </div>
        <div class="col-1" style="margin-left: 0;"> </div>
        <div class="col-8" style="margin: auto;">
        <p class="footer-p3" style="margin: 0">
            ul. Racławicka 14, <br/> 33-100 Tarnów
        </p>
        <p class="footer-p3" style="margin: 15px 0 0 0;">
            ul. Bitwy o wał Pomorski 10 <br/> 33-100 Tarnów
        </p>
        <p class="footer-p3">
            PN. - PT. 9:00 - 17:00 <br/>
        </p>
        <p class="footer-p3">
            ul. Branickiego 9 lok. 158 <br/> 02-972 Warszawa
        </p>
        <p class="footer-p3">
            PN. - PT. 10:00 - 18:00
        </p>
        <!-- <p class="footer-p3">
            ul. Racławicka 14, 33-100 Tarnów <br /> <br/> ul. Bitwy o wał Pomorski 10, 33-100 Tarnów <br/> <br/> ul. Branickiego 9 lok. 158, 02-972 Warszawa
            <br /> 
            PN. - PT. 9:00 - 17:00
        </p> -->
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
        <div class="col-1" style="margin-right: 0;"> </div>
        <div class="col-1" style="margin-left: 0;"><img id="icon-store" alt="" /></div>
        <div class="col-8" style="margin: auto;">
        <p class="footer-p2">MAGAZYN GŁÓWNY</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 5px;">
        <div class="col-1"> </div>
        <div class="col-1"> </div>
        <div class="col-8" style="margin: auto;">
        <p class="footer-p3">Mott Coffee Company SP. z o.o. Gorzyce 218, 33-250 Gorzyce</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
        <div class="col-1"> </div>
        <div class="col-10">
        <p class="footer-p1">Zadzwoń do nas</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
        <div class="col-1" style="margin-right: 0;"> </div>
        <div class="col-1" style="margin-top: 0; margin-left: 0;"><img id="icon-phone" alt="" /></div>
        <div class="col-8" style="margin: auto;">
        <p class="footer-p3-phone">Biuro <br /> +48 600 033 058</p>
        <p class="footer-p3-phone">SKLEP <br /> +48 602 520 385</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
        <div class="col-1"> </div>
        <div class="col-10">
        <p class="footer-p1">Napisz do nas</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
        <div class="col-1" style="margin-right: 0;"> </div>
        <div class="col-1" style="margin-left: 0;"><img id="icon-mail" alt="" /></div>
        <div class="col-8" style="margin: auto;">
        <p class="footer-p3" style="margin-bottom: 0;">INFO@MOTTCOFFEE.EU <br /> SKLEP@MOTTCOFFEE.EU</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px;">
        <div class="col-1"> </div>
        <div class="col-10">
        <p class="footer-p1">Znajdź nas</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="col-1"> </div>
        <div class="col-1" style="margin-right: 25px;"><img id="icon-fb" alt="" /></div>
        <div class="col-1"><img id="icon-insta" alt="" /></div>
        <div class="col-8"> </div>
    </div>
    <div class="page-row row-border" style="padding-top: 25px;">
        <div class="col">
        <p class="footer-p4">© 2021 Palarnia kawy Mottcoffee.eu - Tarnów.</p>
        </div>
    </div>
    </div>
    <!-- FOOTER -->
    <div id="footer" class="footer-tablet">
    <div class="page-row">
        <div class="col-1"> </div>
        <div class="col-4">
        <p class="p-footer1">Gdzie jesteśmy?</p>
        </div>
        <div class="col-1"> </div>
        <div class="col-5">
        <p class="p-footer1">Zadzwoń do nas</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row" style="margin-top: 20px;">
        <div class="col-1"> </div>
        <div class="col-4">
        <div class="page-row">
            <div class="col-1"><img id="icon-cup" src="/skins/user/rwd_shoper_4/images/user/cup.svg" alt="" /></div>
            <div class="col" style="margin: auto; margin-left: 2%;">
            <p class="p-footer2">KAWIARNIE</p>
            </div>
        </div>
        <div class="page-row">
            <div class="col-1"> </div>
            <div class="col" style="margin-left: 2%;">
            <p class="p-footer3" id="raclawicka-p" style="margin-bottom: 0;">
                ul. Racławicka 14, 33-100 Tarnów <img class="placeholderIcon" src="skins/user/rwd_shoper_4/images/user/placeholder.svg" id="raclawicka-img" style="width: 5%;">
                <br /> 
            </p>
            <p class="p-footer3" id="bitwy-p" style="margin-top: 0">
                ul. Bitwy o Wał Pomorski 10, 33-100 Tarnów  <img class="placeholderIcon" src="skins/user/rwd_shoper_4/images/user/placeholder.svg" id="bitwy-img" style="width: 5%;">
                <br/> 
            </p>
            <p class="p-footer3" style="margin: 0">
                pn. - pt. 9:00 - 17:00 <br/> <br/>
                
            </p>
            <p class="p-footer3" id="warszawa-p" style="margin-top: 1rem">
                <br/> 
                ul. Branickiego 9 lok. 158, 02-972 Warszawa 
                <img class="placeholderIcon" src="skins/user/rwd_shoper_4/images/user/placeholder.svg" id="warszawa-img" style="width: 5%;">
                <br /> pn. - pt. 10:00 - 18:00
            </p>
            </div>
        </div>
        <!-- POPUP -->
        <section id="map-section">
        <div id="coffee-map-raclawicka"style="top: 240px;
        left: 40%;
        position: absolute;
        z-index: 4;
        height: 350px;
        width: 600px;
        visibility: hidden;
        ">
            <iframe src="https://maps.google.com/maps?q=Racławicka+14,+33-100+Tarnów&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0; height: 350px; width: 600px;" allowfullscreen></iframe>
        </div>

        <div id="coffee-map-bitwy"style="top: 240px;
        left: 40%;
        position: absolute;
        z-index: 4;
        height: 350px;
        width: 600px;
        visibility: hidden;
        ">
            <iframe src="https://maps.google.com/maps?q=Bitwy+o+Wał+Pomorski+10,+33-100+Tarnów&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0; height: 350px; width: 600px;" allowfullscreen></iframe>
        </div>

        <div id="coffee-map-warszawa"style="top: 240px;
        left: 40%;
        position: absolute;
        z-index: 4;
        height: 350px;
        width: 600px;
        visibility: hidden;
        ">
            <iframe src="https://maps.google.com/maps?q=Adama+Branickiego+9,+02-972+Warszawa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0; height: 350px; width: 600px;" allowfullscreen></iframe>
        </div>
        <div id="warehouse-map"style="top: 240px;
        left: 40%;
        position: absolute;
        z-index: 4;
        height: 350px;
        width: 600px;
        visibility: hidden;
        ">
            <iframe src="https://maps.google.com/maps?q=Gorzyce+218,+33-250+Gorzyce&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0; height: 350px; width: 600px;" allowfullscreen></iframe>
        </div>
        </section>
        <!-- POPUP -->
        </div>
        <div class="col-1"> </div>
        <div class="col-5">
        <div class="page-row">
            <div class="col-1"><img id="icon-phone" src="/skins/user/rwd_shoper_4/images/user/phone.svg" alt="" /></div>
            <div class="col" style="margin: auto;">
            <p class="p-footer2">BIURO</p>
            </div>
            <div class="col" style="margin: auto;">
            <p class="p-footer2">SKLEP</p>
            </div>
        </div>
        <div class="page-row">
            <div class="col-1"> </div>
            <div class="col">
            <p class="p-footer2">+48 600 033 058</p>
            </div>
            <div class="col">
            <p class="p-footer2">+48 600 033 058</p>
            </div>
        </div>
        </div>
    </div>
    <div class="page-row" style="margin-top: 30px; margin-bottom: 70px;">
        <div class="col-1"> </div>
        <div class="col-4">
        <div class="page-row">
            <div class="col-1"><img id="icon-store" src="/skins/user/rwd_shoper_4/images/user/store.svg" alt="" /></div>
            <div class="col" style="margin: auto; margin-left: 2%;">
            <p class="p-footer2">MAGAZYN GŁÓWNY</p>
            </div>
        </div>
        <div class="page-row">
            <div class="col-1"> </div>
            <div class="col" style="margin-left: 2%;">
            <p class="p-footer3">Mott Coffee Company SP. z o.o. <br /> Gorzyce 218, 33-250 Gorzyce 
                <img class="placeholderIcon" src="skins/user/rwd_shoper_4/images/user/placeholder.svg" id="warehouse-img" style="width: 5%;">
            </p>
            </div>
        </div>
        </div>
        <div class="col-1"> </div>
        <div class="col-3">
        <p class="p-footer1">Napisz do nas</p>
        <div class="page-row">
            <div class="col-1"><img id="icon-mail" src="/skins/user/rwd_shoper_4/images/user/mail.svg" alt="" /></div>
            <div class="col" style="margin: auto; margin-left: 5%;">
            <p class="p-footer3"><a style="color: #ffffff;" href="mailto:info@mottcoffee.eu"> info@mottcoffee.eu </a> <br /> <a style="color: #ffffff;" href="mailto:sklep@mottcoffee.eu"> sklep@mottcoffee.eu </a></p>
            </div>
        </div>
        </div>
        <div class="col-3">
        <div class="col">
        <p class="p-footer1">Znajdź nas</p>
        </div>
        <div class="page-row">
            <div class="col-1"> </div>
            <div class="col">
            <div class="page-row">
            <div class="col" style="padding-left: 0;"><a href="https://www.facebook.com/pages/category/Restaurant/Mott-Coffee-1250055198515858/" target="_blank"> <img id="icon-fb" style="margin-right: 10px;" src="/skins/user/rwd_shoper_4/images/user/fb.svg" alt="" /> </a> <a href="https://www.instagram.com/mott_coffee/?hl=pl" target="_blank"> <img id="icon-insta" src="/skins/user/rwd_shoper_4/images/user/insta.svg" alt="" /> </a></div>
            </div>
            </div>
            <div class="col"> </div>
        </div>
        </div>
    </div>
    <div class="page-row"> </div>
    <div class="page-row row-border" style="padding-top: 25px; margin-right: 0 !important;">
    <div class="col">
    <p class="footer-p4">© 2021 Palarnia kawy Mottcoffee.eu - Tarnów.</p>
    </div>
    </div>
    </div>
</section>