<div id="mobile-menu-display" class="mobile-menu-main" style="min-height: 100vh;">
    <div class="page-row row-mobile-menu-1">
    <div class="col-1"></div>
    <div class="col icon-close-div"><img id="icon-close-image" alt="" /></div>
    <div class="col icon-logo"><img id="icon-logo" src="/skins/user/rwd_shoper_4/images/user/logo.svg" alt="" /></div>
    
    </div>
    <div class="mobile-menu">
    <div id="mobile-menu-1">
        <a class="active" href="#home">START</a> 
        <!-- <a class="active" href="#section1-mobile">O NASZEJ KAWIE</a> 
        <a class="active" href="#news-mobile">AKTUALNOŚCI</a>  -->
        
        <!-- <a class="active" href="#home">MENU</a>  -->
        <a class="active" href="/pl/blog">BLOG</a> 
        <!-- <a href="#contact">KONTAKT</a></div> -->
    </div>
    <div id="mobile-menu-2">
        <a class="active" href="/pl/c/Kawa-ziarnista/160"><button id="button1-mobile">SKLEP ONLINE</button> </a> 
        <!-- <a class="active" href="/pl/login"><span style="margin-left: 5px;">ZALOGUJ SIĘ</span></a> 
        <a class="active" href="/pl/basket"><span style="margin-left: 5px;">KOSZYK</span></a> -->
    </div>
    </div>
    <!-- <div id="mobile-menu-3"><a class="active" href="#home"><em><img src="/skins/user/rwd_shoper_4/images/user/search.svg" alt="" /></em><span style="margin-left: 5px;">SZUKAJ</span></a></div> -->
</div>
</div>  
<div class  ="page-row row-mobile">
    <div class="col-1"></div>
    <div class="col-2">
        <a id="menu-icon" class="icon"></a> <img id="menu-icon-image" src="/skins/user/rwd_shoper_4/images/user/menu.svg" alt="" />
    </div>
    <div id="mobile-icons" class="col-8" style="text-align: right;">
        <!-- <a id="menu-icon" class="icon"></a> <img src="/skins/user/rwd_shoper_4/images/user/search.svg" alt="" /> 
        <a id="menu-icon" class="icon"></a> <img src="/skins/user/rwd_shoper_4/images/user/basket.svg" alt="" /> 
        <a id="menu-icon" class="icon"></a> <img src="/skins/user/rwd_shoper_4/images/user/person.svg" alt="" />  -->
        
    </div>
    <div class="col-1"> </div>
</div>

<!-- NAVBAR 1 -->
<!-- NAVBAR 2 -->
<div class="page-row row-2" style="padding-top: 20px; padding-bottom: 20px; background: rgba(0, 0, 0, 0.3); margin: auto; max-width: 1180px;">
    <div class="col nav-2">
        <a class="active" href="#home">START</a> 
        <a class="active" href="/pl/blog">BLOG</a> 
        <!-- <a class="active" href="#section1-tablet">O NASZEJ KAWIE</a> 
        <a class="active" href="#news-tablet">AKTUALNOŚCI</a>  -->
        
        <!-- <a class="active" href="#home">MENU</a>  -->
        
        <!-- <a href="#contact">KONTAKT</a>  -->

        <!-- <a class="active" href="/pl/login"><em><img id="icon-person" src="/skins/user/rwd_shoper_4/images/user/person.svg" alt="" /></em><span style="margin-left: 5px;">ZALOGUJ SIĘ</span></a> 
        <a class="active" href="/pl/basket"><em><img id="icon-basket" src="/skins/user/rwd_shoper_4/images/user/basket.svg" alt="" /></em><span style="margin-left: 5px;">KOSZYK</span></a> -->
        <!-- <a class="active" href="/pl/c/Kawa-ziarnista/160"> <button style="margin-left: 0 !important; margin-top: 0 !important;" id="button1">SKLEP ONLINE</button> </a></div> -->
        
    </div>
</div>
