<div class="section-2 mobile">
    <div class="page-row section-2-1">
    <div class="col-1"> </div>
    <div class="col-10"><img id="elipse3" alt="" />
    <p id="p-section1-1" style="margin-top: 0;"> Wspieramy <br/> lokalnych <br/> Plantatorów</p>
    </div>
    <div class="col-1"> </div>
    </div>
    <div class="page-row section-2" style="margin-bottom: 20px;">
    <div class="col-1"> </div>
    <div class="col-10">
    <p id="p-section1-2">Ta stosunkowo nowa koncepcja w przemyśle kawowym zakłada osobistą relację między nabywcą kawy, a Plantatorem. Regularnie odwiedzamy rodziny pracujące na plantacjach w okresach zbiorów i nie tylko. Staramy się wspierać ich także w czasie poza zbiorami.</p>
    <a href="/pl/blog">
        <button  id="button1" >DOWIEDZ SIĘ WIĘCEJ</button>
    </a>
    </div>
    <div class="col-1"> </div>
    </div>
    <div id="costarica2" class="page-row"> </div>
    </div>
    <!-- SECTION 2  -->
    <div class="section-2-tablet">
    <div class="page-row">
    <div id="section-2-image-tablet" class="col"><img id="image-section2" src="" alt="" /></div>
    <div id="section2-text" class="col">
    <p id="p-section1-1"><img id="elipse3" alt="" /> Wspieramy <br/> lokalnych <br/> Plantatorów </p>
    <p id="p-section2-2">Ta stosunkowo nowa koncepcja w przemyśle kawowym zakłada osobistą relację między nabywcą kawy, a Plantatorem. Regularnie odwiedzamy rodziny pracujące na plantacjach w okresach zbiorów i nie tylko. Staramy się wspierać ich także w czasie poza zbiorami.</p>
    <a href="/pl/blog"> <button style=" margin-bottom: 30px; "  id="button1">DOWIEDZ SIĘ WIĘCEJ</button> </a></div>
    </div>
    </div>