<div id="section1-mobile" class="section1-mobile mobile">
    <div id="section1-row-12" class="page-row">
        <div class="col-1"> </div>
        <div class="col-10"><img id="elipse1" alt="" />
            <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Wspieramy <br/> lokalnych <br/> Plantatorów</p>
        </div>
        <div class="col-1"> </div>
    </div>
    <div class="page-row row-section1-2">
        <div class="col-1"> </div>
        <div class="col-10">
            <p id="p-section1-2">
                Ta stosunkowo nowa koncepcja w przemyśle kawowym 
                zakłada osobistą relację między nabywcą kawy, a Plantatorem. 
                Regularnie odwiedzamy rodziny pracujące na plantacjach w okresach zbiorów i nie tylko. 
                Staramy się wspierać ich także w czasie poza zbiorami.
            </p>
        </div>
        <div class="col-1"> </div>
    </div>

</div>
    <!-- SECTION I  -->
    <div id="section1-tablet" class="section1-tablet">
    <div class="page-row row-section1-1">
        <div class="col-1"> </div>

        <div class="col-4">
            <img id="image-costarica" src="/skins/user/rwd_shoper_4/images/user/costarica2_desktop.png" >
        </div>
        <div class="col-1"></div>
        <div id="section1-text1-tablet" class="col-4" style="margin:auto">
            <div class="page-row" style="margin-bottom: 15px;">
            <div class="col-11"><img id="elipse1" src="/skins/user/rwd_shoper_4/images/user/elipse2_desktop.svg" alt="" />
                <p id="p-section1-1" style="margin-top: 0; margin-bottom: 0;">Wspieramy <br/> lokalnych <br/> Plantatorów</p>
            </div>
            <div class="col-1"> </div>
            </div>
            <p id="p-section1-2">
                Ta stosunkowo nowa koncepcja w przemyśle kawowym 
                zakłada osobistą relację między nabywcą kawy, a Plantatorem. 
                Regularnie odwiedzamy rodziny pracujące na plantacjach w okresach zbiorów i nie tylko. 
                Staramy się wspierać ich także w czasie poza zbiorami.
            </p>
        </div>
        <div class="col-2"></div>
    </div>

    </div>